/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
/**
 * YUI Base
 * @module base
 * @namespace yui-
 * @requires reset, fonts
*/

body {
	/* For breathing room between content and viewport. */
	margin:10px;
}

h1 {
	/* 18px via YUI Fonts CSS foundation. */
	font-size: 138.5%;
}

h2 {
	/* 16px via YUI Fonts CSS foundation. */
	font-size: 123.1%;
}

h3 {
	/* 14px via YUI Fonts CSS foundation. */
	font-size: 108%;
}

h1,h2,h3 {
	/* Top & bottom margin based on font size. */
	margin: 1em 0;
}

h1,h2,h3,h4,h5,h6,strong,dt {
	/* Bringing boldness back to headers and the strong element. */
	font-weight: bold;
}
optgroup {
	font-weight:normal;
}

abbr,acronym {
	/* Indicating to users that more info is available. */
	border-bottom: 1px dotted #000;
	cursor: help;
}

em {
	/* Bringing italics back to the em element. */
	font-style: italic;
}

del {
	/* Striking deleted phrases. */
	text-decoration: line-through;
}

blockquote,ul,ol,dl {
	/* Giving blockquotes and lists room to breath. */
	margin: 1em;
}

ol,ul,dl {
	/* Bringing lists on to the page with breathing room. */
	margin-left: 2em;
}

ol {
	/* Giving OL's LIs generated numbers. */
	list-style: decimal outside;
}

ul {
	/* Giving UL's LIs generated disc markers. */
	list-style: disc outside;
}

dl dd {
	/* Giving DD default indent. */
	margin-left: 1em;
}

th,td {
	/* Borders and padding to make the table readable. */
	border: 1px solid #000;
	padding: .5em;
}

th {
	/* Distinguishing table headers from data cells. */
	font-weight: bold;
	text-align: center;
}

caption {
	/* Coordinated margin to match cell's padding. */
	margin-bottom: .5em;
	/* Centered so it doesn't blend in to other content. */
	text-align: center;
}

sup {
	/* to preserve line-height and selector appearance */
	vertical-align: super;
}

sub {
	/* to preserve line-height and selector appearance */
	vertical-align: sub;
}

p,
fieldset,
table,
pre {
	/* So things don't run into each other. */
	margin-bottom: 1em;
}
/* Opera requires 1px of padding to render with contemporary native chrome */
button,
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"] {
	padding:1px;
}

/* make IE scale images properly */
/* see http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
 img {
    -ms-interpolation-mode:bicubic;
}
/*********************************************************************************
 * SugarCRM Community Edition is a customer relationship management program developed by
 * SugarCRM, Inc. Copyright (C) 2004-2013 SugarCRM Inc.

 * SuiteCRM is an extension to SugarCRM Community Edition developed by Salesagility Ltd.
 * Copyright (C) 2011 - 2014 Salesagility Ltd.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY SUGARCRM, SUGARCRM DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 *
 * You can contact SugarCRM, Inc. headquarters at 10050 North Wolfe Road,
 * SW2-130, Cupertino, CA 95014, USA. or at email address contact@sugarcrm.com.
 *
 * The interactive user interfaces in modified source and object code versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the "Powered by
 * SugarCRM" logo and "Supercharged by SuiteCRM" logo. If the display of the logos is not
 * reasonably feasible for  technical reasons, the Appropriate Legal Notices must
 * display the words  "Powered by SugarCRM" and "Supercharged by SuiteCRM".
 ********************************************************************************/

 
#ajaxStatusDiv 
{
    background: none repeat scroll 0% 0% rgb(255, 255, 255); 
    color: rgb(198, 12, 48); 
    position: fixed;
    opacity: 0.8;
    -moz-opacity:0.8;
    filter: alpha(opacity=80);
    top: 7px;
}


.search_form .view .yui-ac-highlight {
    text-shadow: none;
}

/* hack for webkit browsers ( namely Chrome and Safari ) */
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
    #ajaxStatusDiv 
    {
        position: absolute;
    }
}
/*********************************************************************************
 * SugarCRM Community Edition is a customer relationship management program developed by
 * SugarCRM, Inc. Copyright (C) 2004-2013 SugarCRM Inc.

 * SuiteCRM is an extension to SugarCRM Community Edition developed by Salesagility Ltd.
 * Copyright (C) 2011 - 2016 Salesagility Ltd.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY SUGARCRM, SUGARCRM DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 *
 * You can contact SugarCRM, Inc. headquarters at 10050 North Wolfe Road,
 * SW2-130, Cupertino, CA 95014, USA. or at email address contact@sugarcrm.com.
 *
 * The interactive user interfaces in modified source and object code versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the "Powered by
 * SugarCRM" logo and "Supercharged by SuiteCRM" logo. If the display of the logos is not
 * reasonably feasible for  technical reasons, the Appropriate Legal Notices must
 * display the words  "Powered by SugarCRM" and "Supercharged by SuiteCRM".
 ********************************************************************************/

/* Start Global CSS */
/* Base SugarCRM Styles */

body {
    background:#ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin: 0;
    overflow:auto;
    padding-top: 50px;
}

.subDmenu {
    position:absolute;
    display:none;
    visibility:hidden;
}

.menuItem, .menuItemHilite, .menuItemX, .menuItemHiliteX,
.menuItem:visited, .menuItemHilite:visited, .menuItem:hover, .menuItemHilite:hover,
.menuItem:active, .menuItemHilite:active, .menuItem:link, .menuItemHilite:link,
.menuItemX:visited, .menuItemHiliteX:visited, .menuItemX:hover, .menuItemHiliteX:hover,
.menuItemX:active, .menuItemHiliteX:active, .menuItemX:link, .menuItemHiliteX:link {
    line-height: 18px;
    color: #000;
    text-decoration: none;
    width: 120px;
    border-left: none;
    border-right: none;
    display: block;
    padding: 1px 5px 1px 7px;
    border-bottom: 1px solid #c0c0c0;
}

.menuItem {
    background-color:#f6f6f6;
}

.menuItemHilite {
    background-color:#FFFFFF;
}

.menuItemX {
    background-color:#CCCCCC;
}

.menuItemHiliteX {
    background-color:#999999;
}

.menu
{
    position:absolute;
    display:none;
    visibility:hidden;
    background-color:#f6f6f6;
    z-index: 2;
    border: #999999 solid 1px;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity: 0.9;
}

fieldset, table, pre {
    margin-bottom:0;
}

p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1.1em;
    margin-top: 0;
    margin-bottom: 0;
}

a{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1.1em;
}

form {
    margin: 0;
}

textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type=checkbox],input[type=radio] {
    border:0;
    background-color: transparent;
    margin: 0;
    vertical-align: bottom;
}

div.clear {
    height: 0;
    clear: both;
    visibility: hidden;
}

th, td {
    border: none;
    padding: 0;
}

#header ul li {
    display:inline;
}

#unified_search_advanced_img {
    cursor:pointer;
}

#unified_search_advanced_div {
    height: 1px;
    position: relative;
    overflow: hidden;
    width: 21em;
    padding-top: 5px;
}

#unified_search_advanced_div .edit.view {
    padding:6px 6px 6px 4px;
}

#unified_search_advanced_div .edit.view td {
    padding: 0 0.5em !important;
}

#themeColors img, #themeFonts img {
    margin-bottom: 0;
}

#HideHandle {
    padding-top: 5px;
    cursor: pointer;
}

#HideMenu {
    visibility: hidden;
    position: absolute;
    z-index:100;
}

#leftHandle {
    float:left;
}

/* new record form */
#newRecord form {
    padding: 8px 8px 5px 8px;
}

#newRecord form input, #newRecord form select, #newRecord form textarea {
    margin-bottom: 4px;
    margin-top: 2px;
    max-width: 140px;
}

#newRecord form button, #newRecord form input[type=button], #newRecord form input[type=submit], #newRecord form input[type=reset] {
    padding-top: 0;
    vertical-align: bottom;
}

#newRecord form .dataLabel {
    padding-bottom: 2px;
    padding-top: 3px;
    padding-left: 0;
    vertical-align: bottom;
}

#newRecord form .dataField {
    padding-bottom: 3px;
}

#newRecord form #jscal_trigger {
    margin-bottom: 4px;
    margin-top: 2px;
    vertical-align: bottom;
}

#newRecord form a:link, #newRecord form a:visited, #newRecord form a:hover {
    text-decoration: underline;
    border-bottom: 0;
    padding-left: 0;
}

.moduleTitle h2 {
    display: block;
    float: left;
    font-size:1.2em;
}

.moduleTitle h2 span.pointer {
    padding: 0 8px;
    font-size: 18px;
    line-height: 16px;
}

.moduleTitle span.utils {
    display: block;
    float: right;
    margin-top: 10px;
}

.moduleTitle span.utils a img {
    margin-bottom: -3px;
}

/* EditView/projects -> grid  */
.sqsSelectedSmartInputItem {
    background-color:#DEEFFF;
}

/* DetailView/EditView/ListView styles */
.view, table.view {
    margin-bottom:3px;
    margin-top:3px;
    padding:20px 16px 22px 30px;
    width: 100%;
}

.view tr td input[type=checkbox] {
    vertical-align: middle;
}

.collapsed .panelContainer, .collapsed .collapseLink, .expanded .expandLink {
    display:none;
}

/* DetailView styles */
.detail h4 {
    font-weight: bold;
    font-size:1.2em;
    margin: 0;
    text-align: left;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0;
}

.detail tr td {
    border: none;
    vertical-align: top;
    padding: 5px 6px 5px 6px;
    vertical-align: top;
    text-align: left;
}

.detail tr td[scope=row] {
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: right;
    white-space:nowrap;
}

.detail tr td > li {
    margin-left: 1.5em;
}

/* editviews top buttons */
#EditView > table {
    overflow:auto;
    margin-bottom:2px;
}

/* editviews */
.edit {
    padding:0 6px 12px 10px !important;
}

.edit > table {
    margin-bottom: 0;
    padding: 3px 3px 3px 10px!important;
}

.edit h4 {
    text-align: left;
    padding-top:0;
    margin-top: 10px;
    padding-left:0;
}

.edit tr td {
    font-weight: normal;
    vertical-align: top;
    padding: 3px !important;
}

.edit tr td[scope=row] {
    padding: 5px 5px 5px 7px !important;
    text-align: left;
    vertical-align: top;
}

.edit tr th {
    padding: 5px 5px 5px 7px !important;
}

table#tabFormPagination td,  #tabFormPagination, #EditView > table#tabFormPagination.detail.view {
    border-bottom: none;
    margin-bottom: 0;
}

.edit tr td table, .edit tr td table tr td {
    padding: 3px 3px 3px 0 !important;
}

/* search panel on top of list views ( extends .edit .view definition ) */
.search {
    margin: 0 0 4px 0 !important;
    padding:10px 6px 12px 10px;
}

.search > table {
    padding: 0 !important;
    margin: 0;
}

.search td span {
    color:#444444;
}

.search td input[type=text], .search td input[type=password], .search td select {
    width: 150px !important;
}

/* Listview styles */
.list, .edit .list {
    padding: 0 !important;
    margin-bottom: 10px;
}

.list tr.pagination,
.list tr.pagination td,
.list tr.pagination td table {
    padding: 0;
    border: 0;
    margin: 0;
}

.list tr.pagination td table td {
    padding: 3px 7px 3px 5px !important;
}

.list tr.pagination td table td button {
    width: 25px;
}

.list tr.pagination td table td a:link, .list tr.pagination td table td a:visited, .reportGroupByDataChildTablelistViewThS1 a:link, .reportGroupByDataChildTablelistViewThS1 a:visited {
    font-weight: bold;
    text-decoration: none;
    padding: 2px 0 3px 0;
}

.list tr.pagination td table td a:hover, .reportGroupByDataChildTablelistViewThS1 a:hover {
    text-decoration: underline;
}

.list tr.pagination .buttons {
    padding: 2px 2px 2px 0 !important;
}

.list tr.pagination #selectCountTop {
    width: 5em;
}

.td_alt, .list tr th, .list tr td[scope=col], .edit .list tr th, .edit .list tr td[scope=col] {
    font-weight: bold;
    text-align: left;
    padding: 4px 5px 4px 5px !important;
    border-left: none;
    border-right: none;
    white-space:nowrap;
}

.list tr td {
    vertical-align: middle;
    padding: 3px 8px 5px 5px !important;
}

.list tr.pagination td {
    padding: 0 !important;
}

.list tr td.odd {
    padding: 3px 8px 5px 5px;
    vertical-align: middle;
}

.list th a:link, .list th a:visited, .list td[scope=col] a:link, .list td[scope=col] a:visited {
    font-weight: bold;
    text-decoration: none;
}

.list th a:hover, .list td[scope=col] a:hover {
    text-decoration: underline;
}

.list tr.oddListRowS1 td, .list tr.evenListRowS1 td {
    white-space: normal;
    word-wrap: break-word;
}

.list tr.oddListRowS1 td[nowrap], .list tr.evenListRowS1 td[nowrap] {
    white-space: nowrap;
    word-wrap: normal;
}

.list td a.listViewTdToolsS1, .list tr td.nowrap {
    white-space: nowrap;
    word-wrap: normal;
}

.list td.inlineButtons {
    text-align: right;
    min-width: 75px;
}

/* style for page content tables */
.other {
    border: none !important;
    margin-bottom: 20px !important;
    padding: 0 !important;
    width: 100%;
}

.other td {
    font-weight: normal;
    padding: 4px 10px 4px 6px;
    vertical-align: middle;
}

.other td[scope=row] {
    padding: 4px 6px 4px 6px;
    white-space:nowrap;
}

.other .edit td {
    background: transparent !important;
}

.other .edit {
    margin-top: 0;
}

/* Special for Campaigns Wizard */
.other td.edit #wizard td {
    background: transparent;
}

.other td.edit #wizard h4 {
    padding-left: 0;
    margin-top: 0;
}

#wizard td {
    white-space: normal;
    word-wrap: break-word;
}

/* detail view */
.detail.view, .detail table, table.detail {
    padding: 0;
    width: 100%;
}

.detail tr.pagination td {
    padding-top: 4px;
    text-align: right;
    vertical-align: middle;
}

.detail table tr.pagination td {
    padding-bottom: 4px;
}

.detail td > table tr td {
    border: none;
}

/* Upgrade Wizard*/
.small {
    width:100%;
}

.small table {
    width:auto;
}

.small tr td table {
    background-color:transparent;
}

.small tr td[scope=row] table tr td, .small tr td[scope=row] table tr th {
    background-color:transparent;
}

.small tr td table tr th {
    text-align:left;
    border-bottom:none;
}

/* for subpanel tabs */
ul.tablist, ul.subpanelTablist {
    list-style: none;
    padding: 3px 0;
    margin: 0;
}

ul.tablist li, ul.subpanelTablist li {
    list-style: none;
    margin: 0;
    display: inline;
}

ul.tablist li a, ul.subpanelTablist li a {
    padding: 3px 8px;
    margin: 0;
    border-bottom: none;
    text-decoration: none;
}

ul.subpanelTablist #addPageItem a, ul.subpanelTablist #addPageItem a:hover {
    border: none;
    background: transparent;
    text-decoration: none;
}

ul.tablist li a:link, ul.tablist li a:visited, ul.subpanelTablist li a:link, ul.subpanelTablist li a:visited {
    text-decoration: none;
}

.subpanelTabForm {
    padding: 15px 0 0 0;
}

table.subpanelTabForm td {
    padding-bottom: 2px;
    padding-top: 0;
}

.subpanelTabForm p {
    margin-bottom:0;
}

.subpanelTabForm h3 {
    padding-left: 3px;
}

.subpanelTabForm .h3Row {
    padding-top: 2px;
    margin-top: 0;
}

.subpanelTabForm {
    margin-bottom: 10px;
}

#groupTabs {
    margin-top: 20px;
}

#groupTabs li, #searchTabs li {
    margin:0 -3px 0 0;
}

table.subpanelTabForm {
    border-top: 0 none;
    margin-bottom: 4px;
}

.search_form {
    overflow: visible;
    text-align: left;
}

.search_form .view {
    width:99%;
    margin: 0 0 3px;
    padding-right:0 !important;
    padding-left:10px !important;
    padding-top:10px !important;
}
/* sitemap */

#sitemap {
    clear:both;
    width: 650px;
    display:none;
    z-index:9999;
    left:30%;
    top:10%;
}

#sitemap .edit.view {
    border: 2px solid;
    padding: 6px 6px 6px 16px;
}

#sitemap a:link, #sitemap a:visited {
    text-decoration:none;
}

#sitemap a:hover, #sitemap h4 a:hover {
    text-decoration:underline;
}

#sitemap h4 a:link, #sitemap h4 a:visited {

}

#sitemap ul {
    margin-top: 5px !important;
    margin-left: 5px !important;
}

#sitemap ul li {
    margin-bottom: 5px !important;
    display: list-item;
}

/* sitemap link div */
#sitemapLink a {
    cursor:pointer;
    margin:0 0 0 18px;
}
#sitemapLink span img {
    cursor:pointer;
    margin-left: 2px;
}

#bottomLinks {
    padding: 0 25px;
    float: right;
}

/* Footer styles */
footer {
    clear:both;
    border-top:1px solid #cccccc;
    bottom:0;
    position:relative;
    padding: 25px 25px 10px 0;
    margin:10px auto;
}

#copyrightbuttons {
    max-width:400px !important;
    margin:0 auto;
}

div#responseTime {
    width:50%;
    font-size:12px;
    color:#888888;
}

#copyright_data {
    width:auto;
    margin:0 auto;
}

#themePicker, #langPicker {
    text-align: center;
    margin-bottom: 0.5em;
}

/* Scheduler Styles */
#scheduler {
    margin-top: 5px;
}

#scheduler .schedulerDiv {
    color: #000000;
    text-align: left;
    width: 100%;
    background-color: #FAFAFA;
    border-collapse: collapse;
    border-bottom: 1px solid #999;
}

#scheduler .schedulerDiv table {
    width: 100%;
    border-collapse: collapse;
}

#scheduler .schedulerDiv table tr td {
    height: 18px;
    border: 1px solid #dddddd;
}

#scheduler .schedulerDiv table tr.schedulerTimeRow td {
    border-left: 0;
}

#scheduler .schedulerDiv table tr.schedulerTimeRow th[scope=col] {
    border-left:1px solid #DDDDDD;
    padding-left:4px;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td {
    background-color: #eeeeee;
    width: 15px;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td[scope=row] {
    overflow: hidden;
    padding-left: 4px;
    width: 125px;
    background: transparent;
    border-left: 0;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td.schedulerSlotCellStartTime {
    border-left: 4px solid #75AF4F !important;
    background-color:#FFFFFF;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td.schedulerSlotCellEndTime {
    border-left: 4px solid #ff0000 !important;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td.schedulerAttendeeDeleteCell {
    background: transparent;
    border-left: 1px solid #dddddd;
    padding-left: 4px;
}

#scheduler .schedulerInvitees {
    margin-top: 1em;
}

#scheduler .schedulerInvitees .tabForm {
    margin-bottom: 0;
}

/* calendar module styles */
.monthFooter td {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 5px;
    border-top: 1px solid;
    border-bottom: 2px solid;
}

.monthHeader {
    padding: 6px 5px 4px 3px;
    margin-top: 10px;
    vertical-align: middle;
    background-repeat: repeat-x;
    background-position: top;
}

.monthHeader td {
    padding-left: 5px;
}

.monthViewDayHeight {
    height: 100px;
}

.monthViewDayHeight td[scope=row] {
    padding: 5px;
    text-align:center;
}

.monthViewDayHeight td {
    vertical-align: top;
    padding: 3px;
    text-align: right !important;
}

.yearViewDayHeight {
    height: 40px;
}

.monthCalBodyDayItem {
    margin: 7px 0 7px 0;
    padding: 5px 0 8px 0;
    border-top: 1px solid;
}

.monthCalBodyDayItem td {
    vertical-align: top;
}

.monthCalBodyDayItem td img {
    padding-right: 3px;
    vertical-align: top;
}

.monthCalBody th {
    vertical-align: top;
    padding: 7px;
    height: 20px;
    font-weight: normal;
}

.monthCalBodyTH th {
    padding: 5px !important;
    border-bottom: 1px solid;
    font-weight: bold;
}

.monthCalBody td {
    padding: 5px;
    text-align: left;
}

.monthCalBody td div table td {
    text-align: left!important;
}

.monthCalBody {
    padding: 0;
}

.monthCalBody td.yearCalBody {
    padding: 0;
    margin: 0;
}

.yearCalBodyMonth {
    padding:5px 0 0 0 !important;
    text-align:center !important;
}

.yearCalBodyMonth #daily_cal_table {
    margin-top: 5px;
}

.yearCalBodyMonth > a {
    font-weight: bold;
    margin: 0;
    padding: 5px;
    width: 100%;
    text-decoration: none !important;
}

.yearCalBodyMonth > a:hover {
    text-decoration: underline;
}

.calSharedUser {
    height: 20px;
    padding-top: 5px;
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px;
}

/* js calendar styles */
.calendar {
    border: 1px solid #999;
}

.calendar .button {
    background-color: #eee;
    background-image: none;
}

.calendar .combo {
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 1px solid #f1f1f1;
    background: #eee;
    padding: 0;
}

.calendar .combo .active {
    background: #eee;
}

.calendar .combo .hilite {
    background: #f8f7f7;
    padding: 1px 4px 1px 4px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #9e9e9e;
}

.calendar .combo .label, .calendar .combo .label-IEfix {
    text-align: left;
    padding: 2px 4px 2px 4px;
}

.calendar .nav {
    background: transparent no-repeat 100% 100%;
}

.calendar table {
    background: #eee;
}

.calendar table .wn {
    background: #eeeeee;
    border-right: 1px solid #ccc;
}

.calendar tbody .day {
    background: #fff;
    text-align: right;
    padding: 2px 4px 2px 2px;
}

.calendar tbody .day.othermonth.oweekend
{
    color: #666;
}

.calendar tbody .emptycell {
    display: none;
}

.calendar tbody .rowhilite td, .calendar tbody .rowhilite td.weekend {
    background: #f6f6f6;
}

.calendar tbody .rowhilite td.wn {
    background: #fff;
}

.calendar tbody td.hilite,
.calendar tbody td.weekend.hilite {
    background: #f8f7f7;
    border-color: #9e9e9e;
}

.calendar tbody td.selected {
    border-color: #666;
    background: #eee;
}

.calendar tbody td.today {
    color: #666;
}

.calendar tbody td.weekend {
    color: #666;
    background: #f9f9f9;
}

.calendar tfoot .ttip {
    background: #e8f0f4;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    background: #dfdfdf;
    color: #000;
}

.calendar thead .hilite {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-right: 1px solid #fff;
}

.calendar thead .name {
    background: #dddddd;
    border-color: #cccccc;
}

.calendar thead .title {
    padding: 3px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #cccccc;
    color: #000;
    background: #f8f7f7;
}

.calendar thead .weekend {
    color: #000;
    font-weight: bold;
}

.listViewCalCurrentAppt {
    background-color: #75AF4F;
}

.listViewCalOtherAppt {
    background-color: #4D5EAA;
}

.listViewCalConflictAppt {
    background-color: #AA4D4D;
}

.listViewCalCurrentApptLgnd {
    background-color: #75AF4F;
    border: 1px solid #444444;
}

.listViewCalOtherApptLgnd {
    background-color: #4D5EAA;
    border: 1px solid #444444;
}

.listViewCalConflictApptLgnd {
    background-color: #AA4D4D;
    border: 1px solid #444444;
}

/* for overlib js library */
.olCapFontClass {
    font-weight: bold;
    color: #444;
    background-color: #dfdfdf;
}

.olCapFontClass A {
    color: #dfdfdf;
}

.olFgClass td, #forecastsWorksheet .olBgClass td.olFgClass {
    background-color: #fff;
    padding: 5px 7px 7px 10px !important;
    line-height: 18px;
}

.olCgClass td, #forecastsWorksheet .olBgClass td.olCgClass {
    border-bottom: 2px solid #ddd;
    background-color: #f6f6f6;
    padding: 5px 3px 3px 10px !important;
}

.olCgClass {
    padding: 0;
    border: 0;
}

.olBgClass {
    background-color: #ddd;
    padding: 2px !important;
}

#forecastsWorksheet .olBgClass td {
    padding: 0 !important;
}

.olCloseFontClass {
    padding-bottom: 1px;
    text-align: right;
    background-color: #dfdfdf;
}

/* acl role colors */
.aclAll {
    color: #008000;
    font-weight: bold;
}

.aclOwner {
    color: #000000;
    font-weight: bold;
}

.aclNone {
    color: #FF0000;
    font-weight: bold;
}

.aclEnabled {
    color: #008000;
    font-weight: bold;
}
.aclDisabled
{
    color: #FF0000;
    font-weight: bold;
}

.aclAdmin {
    color: #0000FF;
    font-weight: bold;
}

.aclNormal {
    color: #008000;
    font-weight: bold;
}
.aclGroup {
    color: #0000A0;
    font-weight: bold;
}

/* for lists where we don't want to have bullet points */
ul.noBullet {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li.noBullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* for subpanels */
#MorePanelHandle {
    cursor: pointer;
    display: inline;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
    background: url('../../../../index.php?entryPoint=getImage&themeName=SuiteR&imageName=more.gif') no-repeat bottom left;
    color: #444;
}

.sqsFloater {
    position:absolute;
    z-index:2;
    bottom:0;
    right:0;
    display:none;
    padding:0;
}

.sqsFloater td {
    border:1px inset;
    color:black;
}

.sqsMatchedSmartInputItem {
    padding: 2px 5px 2px 5px;
    margin: 0;
    cursor: pointer;
}

.sqsSelectedSmartInputItem {
    background-color:#DEEFFF;
}

#sqsSmartInputResults {
    padding:0;margin:0;
}

.sqsNoMatch {
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    background-color:#eeeeee;
    color:#980000;
}

/* misc font displays */
.todaysTask {
    color: #FF7800
}

.overdueTask {
    color: #ff0000;
}

.required, .error {
    color: #ff0000;
}

.success {
    color: #00ee00;
}

.rssItemDate {
    color: #666666;
}

.date {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid;
    padding-right: 10px;
}

.dateFormat {
    font-weight: normal;
    font-style: italic;
}

/* list view page numbers */
.pageNumbers {
    padding-right: 3px;
    padding-left: 3px;
}

.contentBox {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0 10px 0 0;
    margin: 10px 0 10px 0;
}

.contentBox td {
    padding-top: 0;
}

/* for team notices and my portal dashlets */
.teamNoticeBox {
    border: 1px solid;
    padding: 0;
    background: #fff;
    width:100%;
}

.teamNoticeText {
    padding: 0 10px 0 10px;
}

/* to force border to display on tiny-mce controls */
.mceToolbarTop {
    border-bottom:1px solid #CCCCCC !important;
}

#dashletCtrls {
    float: right;
}

ul#dashletCategories li a:link, ul#dashletCategories li a:visited {
    background: #eee;
}

ul#dashletCategories li a.current, ul#dashletCategories li a.current:hover {
    color: #444;
    background: transparent;
}

ul#dashletCategories li a:link:hover {
    border:1px solid #ccc;
}

#moduleDashlets h3,#chartDashlets h3,#toolsDashlets h3 {
    margin-top: 13px;
}

#dashletSearch table tr td input[type=button] {
    vertical-align: top;
}

.x-dlg-btns button.x-btn-text:hover,
.x-dlg-btns .x-btn-focus button.x-btn-text {
    color: #000;
}

/* Bug 27478 - IE Hacks to make sure username/password boxes on login page are same length */
td.edit.view td {
    text-align: left;
}

td.edit.view td[align=right] {
    text-align: right;
}

/* if we have horizontal padding anywhere in the table, it will break the rollup tree */
#forecastsWorksheet  tbody  tr  td,
#forecastsWorksheet  tr  td {
    padding: 3px 0 5px 0 !important;
}

#forecastsWorksheet  tr.pagination  td {
    padding: 0 !important;
}

#forecastsWorksheet tr.pagination td table td {
    padding:3px 7px 3px 5px !important;
}

/* for forecasts worksheet containing table ( overrides .list .view style ) */
#forecastsWorksheet > tbody > tr > td, #forecastsWorksheet > tr > td, #forecastsWorksheet #activetimeperiods  tr  td {
    padding: 0  ! important;
    vertical-align: top;
}

/* fixes email setting issues */
#tab_general > form > table, #tab_general > form > table.detail th, #tab_accounts > table, #tab_accounts > table.detail th {
    border: 0;
}

#tab_accounts .detail.view .edit.view {
    margin-top: 0;
}

#tab_accounts #ieSelect > table, #ieAccount > table, #ieAccount > table td table {
    padding: 0pt ! important;
    border-collapse: collapse;
}

#importDialogContent {
    overflow: hidden;
}

#importDialogContent #importDiv {
    margin-top: 0;
}

/* override some of the detail view styles for show more detail option (KBDocument detail view)*/
.detail td.subdetail {
    padding:0;
    border-bottom:medium none;
}

.detail td.subdetail table tr td {
    padding: 5px 6px;
}

/* override some of the detail view styles for the import options dialog */
#importOptions td {
    padding: 5px 6px;
}

#importOptions table {
    border-collapse:collapse;
}

#importOptions #chooser_choose_index_text, #importOptions #chooser_ignore_index {
    background: white;
    border: 0;
    text-align: left;
}

/* login page*/
.login table tr td {
    padding:0 !important;
    text-align:left;
}

.login {
    padding:10px 6px 12px 10px !important;
}

.login .login_more {
    text-align:right;
}

#lastviewicon, #newrecordicon, #shortcuts_img,#lastviewicon_1, #newrecordicon_1, #shortcuts_img_1 {
    display:none;
}

#popup_query_form {
    padding-left:0;
    padding-right:0;
}

.emailaddresses tr td[scope=row] {
    padding-left:0 !important;
    padding-top:0 !important;
}

/*System Settings*/
#container_upload {
    margin-top:7px;
}

/* Subpanel links */
.subTabs td {
    padding: 0 0.25em;
}

.sugarFeedDashlet {
    overflow:auto;
    max-height:375px;
}

.sugarFeedDashlet td.list th, .sugarFeedDashlet td.list td[scope=col] {
    display:none;
}

.sugarFeedDashlet tr {
    height:auto;
}

.sugarFeedDashlet .byLineBox {
    width:100%;
    position:relative;
    overflow: hidden;
}

.sugarFeedDashlet .byLineBox .byLineLeft {
    float:left;
}

.sugarFeedDashlet .byLineBox .byLineRight {
    display:inline;
    float:right;
    font-size:79%;
}

iframe.teamNoticeBox {
    width:99%;
    padding:0;
}

.loading-indicator {
    background-image:url('../default/ext/resources/images/default/grid/loading.gif');
    background-repeat:no-repeat;
    background-position:left;
    padding-left:20px;
    line-height:16px;
    margin:3px;
}

.x-sqs-list {
    border:1px solid #d0d0d0;
    background:#d0d0d0;
    overflow:hidden;
}

.x-sqs-list-inner {
    overflow:auto;
    background:#FFF;
    position:relative;
    overflow-x:hidden;
}

.x-sqs-list-item {
    font:normal 12px tahoma,arial,helvetica,sans-serif;
    border:1px solid #fff;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding:1px;
}

.x-sqs-list .x-sqs-selected {
    border:1px dotted #f6f6f6!important;
    background:#d0d0d0;
    cursor:pointer;
}

embed {
    background: transparent;
}

#massupdate_form {
    margin-top: 20px;
}

#massupdate_form .buttons {
    padding-bottom: 2px;
}

/* Bug 32603 - Fixes missing center line for KB Admin */
#selected_directory_children {
    border-left: 1px solid;
    padding: 3px;
}

.dashletPanel .hd .hd-center .dashletToolSet a{
    padding: 0 2px;
}

.dashletPanel .hd .hd-center .dashletToolSet a:last-child  {
    padding-right: 0;
}

.dashletPanelMenu.wizard.import .bd .screen {
    padding: 20px;
    border: 0 none;
    height: 487px;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    display: block;
    background-color: #fff;
}

div.confirmTable {
    overflow: auto;
    width: 1056px;
    position: relative;
    margin-bottom: 20px;
}

/* Bug 19728 - Email Templates detail view is different with edit view */
#html_div p {
    margin: 12px 0;
}

#html_div p:first-child {
    margin: 0 0 12px 0;
}

/* Default Styles */

.h3Row {
    margin-top: 10px;
    vertical-align: middle;
    background-repeat: repeat-x;
    background-position: top;
    background-color: #fff;
}

.h3Row td {
    padding: 4px 5px 3px 3px;
}

h4, h5 {
    margin-bottom: 2px;
    padding-left: 4px;
}

hr {
    border: 0;
    border-top: 1px solid #cccccc;
    background-color: #cccccc;
    color: #cccccc;
    height: 1px;
    clear: both;
}

a:link, a:visited, a:hover {
    text-decoration: underline;
}

.buttonSlide {
    border: 0;
}

.buttonSlide .yui-hd {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.buttonSlide.yui-module .yui-hd .toggle em {
    background-image: url('../../../../index.php?entryPoint=getImage&themeName=SuiteR&imageName=slider_button_more.png');
    background-repeat: no-repeat;
    display: inline; /* prevent IE margin doubling */
    overflow:hidden;
    text-indent:9999px;
    float: right;
    text-align: right;
    height: 14px;
    width: 14px;
}

.buttonSlide.yui-module.yui-closed .yui-hd .toggle em {
    background-image: url('../../../../index.php?entryPoint=getImage&themeName=SuiteR&imageName=slider_button_less.png');
}

/* DetailView/EditView/ListView styles */
.view {
    border-bottom:1px solid;
    border-top:2px solid;
}

/* Listview styles */
.list tr.pagination td table td {
    background:#FAFAFA none repeat scroll 0 0;
    color:#666666;
}

.td_alt, .list tr th, .list tr td[scope=col], .edit .list tr th, .edit .list tr td[scope=col] {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cccccc;
}

/* module title */
.moduleTitle {
    padding-bottom: 3px;
    padding-top: 0;
    margin-bottom: 10px;
    margin-top: 0;
}

.moduleTitle > h2 > img {
    display: none;
}

/* for subpanel tabs */
ul.subTabs {
    padding: 4px 0;
    margin: 0;
    border: none;
    font: 12px Arial, Verdana, Helvetica, sans-serif;
}

ul.subTabs li {
    list-style: none;
    margin: 0;
    display: inline;
}

.activeSubTab, ul.subTabs li a.activeSubTab:link, ul.subTabs li a.activeSubTab:visited, ul.subTabs li a.activeSubTab:hover {
    font-weight: bold;
}

ul.subTabs li a {
    padding: 0 8px 0 8px;
    margin: 0;
    border-right: 1px solid;
    border-bottom: none;
    text-decoration: none;
}

ul.subTabs li a:link, ul.subTabs li a:visited {
    text-decoration: none;
}

.subTabMore {

    text-decoration: none;
    padding-top: 3px;
}

/* new record form */
#newRecord form {
    border-bottom: 1px solid;
}

/* misc links */
a.utilsLink:link, a.utilsLink:visited {
    font-weight: normal;
    text-decoration: underline;
    padding-bottom: 3px;
}

a.tabFormAdvLink:link, a.tabFormAdvLink:visited, a.tabFormAdvLink:hover {
    text-decoration: none;
    line-height: 20px;
    margin-right: 2px;
}

/* global links */

#globalLinks {
    border-left:1px solid #bbbbbb;
    margin: 0 0 0 10px;
    font-size:1.1em;
    height:49px;
}

#globalLinks a{
    color:#ffffff;
}

#globalLinks ul li a {
    max-width:150px !important;
    color:#3C8DBC;
}

#globalLinks ul li a:hover {
    max-width:150px !important;
    color:#ffffff;
}

#globalLinks ul li{
    padding:0;
}

/* themepicker */
#themepickerLinkSpan a {
    color: #444444;
}

/* for subpanel tabs */
ul.tablist, ul.subpanelTablist
{
    border-bottom: 2px solid;
}
ul.tablist li a, ul.subpanelTablist li a {
    border-top: 2px solid;
    border-right-color:#cccccc;
    border-top:none;
    border-bottom:none;
}

ul.tablist li a:hover, ul.subpanelTablist li a:hover {
    border-top: 2px solid;
}

ul.tablist li a.current, ul.tablist li a.current:hover {
    border-bottom:2px solid #f6f6f6;
    font-weight: bold;
}

ul.subpanelTablist li a.current, ul.subpanelTablist li a.current:hover {
    border-bottom:2px solid #fff;
    font-weight: bold;
}

.subpanelTabForm .h3Row {
    border-top: 1px solid #dddddd;
    background-image: none;
}

/*Bug 29945 */
.pagination button {
    border-color: #c1c1c1;
    background-color: #f7f7f7;
    color: #333333;
}

.pagination button [title="Return to List"]:hover{
    background-image:none;
    color:#fff;
}

#colorPicker {
    border-right:2px solid #DDDDDD;
    padding:8px 4px 4px 0;
    margin-right:1px;
}

#colorPicker span {
    color:#cccccc;
}

#colorPicker #themepickerLinkSpan {
    color:#444444;
    text-decoration:underline;
    font-size:12px;
    font-weight:400;
}

#colorPicker #themepickerLinkSpan:hover {
    color:#0B578F;
}

/* YUI styles */
.ygrid-row, .ygrid-hd, .ygrid-hd-body, .ygrid-hd-body span {
    font-size: 8pt;
}

/* for team notices dashlet */
.teamNoticeBox {
    border-color: #abc3d7;
    color: #444444;
}

/* for subpanel tabs */
ul.tablist li a.activeSubTab:hover {
    border-bottom-color: #ddd;
    color: #000000;
}

ul.subpanelTablist li a.activeSubTab:hover {
    color: #000000;
}

/* search */
#search input[name=query_string] {
    border-color: #6fb0e4;
    background-color: #f6fafd;
}

/* new record form */
#newRecord form a:link, #newRecord form a:visited {
    color: #666666;
}
#newRecord form a:hover {
    color: #444444;
}

/* listviews */
.list tr.pagination td table td a:link,
.list tr.pagination td table td a:visited,
.reportGroupByDataChildTablelistViewThS1 a:link,
.reportGroupByDataChildTablelistViewThS1 a:visited,
.list tr th,
.list tr th a:link,
.list tr th a:visited,
.list tr td[scope=col],
.list tr td[scope=col] a:link,
.list tr td[scope=col] a:visited,
.list tr.pagination td table td span.pageNumbers {
    color: #444444;
}

.evenListRowS1 td, .oddListRowS1 td {
    color: #000000;
    border-bottom: 1px solid #cbdae6;
}

.evenListRowS1:hover td, .oddListRowS1:hover td {
    background: #f6f6f6;
}

/* detailviews */
.detail table, table.detail {
    background-color: #cbdae6;
}

.detail tr td[scope="row"] {
    color: #000000;
    background-color: #f6f6f6;
    border-color: #cbdae6;
}

.detail h4 {
    color: #444444;
}

.detail tr th {
    border-color: #cbdae6;
}

.detail tr td {
    color: #444444;
    border-color: #cbdae6;
    background-color: #fff;
}

.detail tr td a:link, .detail tr td a:visited, .detail tr td a:hover {
    color: #0b578f;
}

/* editviews */
.edit td[scope=row] {
    color: #444444;
}

#EditView hr{
    border-color:#abc3d7;
}

.edit {
    color: #333333;
    background-color: #f6f6f6;
}

.detail .edit td {
    background-color: #fff !important;
    border-bottom: 0 !important;
}

/* other views */
.other {
    border-color: #abc3d7;
    background-color: #cbdae6;
}

.other td {
    color: #444444;
    background-color: #ffffff;
    border-left-color: #dfdfdf;
}

.other td[scope=row] {
    color: #000000;
    background-color: #fafafa;
}

.other td.edit {
    color: #000000;
    background-color: #f6f6f6;
}

a.tabFormAdvLink:link, a.tabFormAdvLink:visited {
    color: #444444;
}

/* calendar styles */
.monthCalBody {
    background-color: #abc3d7;
}

.monthFooter td {
    border-top-color: #abc3d7;
    border-bottom-color: #abc3d7;
    background-color: #ffffff;
}

.monthHeader a:hover, .monthViewDayHeight a:hover {
    color: #0b578f;
}

.monthCalBodyTH th[scope=row], .monthViewDayHeight td[scope=row] {
    background-color: #ebebeb;
}

.monthCalBodyTH th {
    background-color: #fafafa;
    color: #444444;
    border-color: #abc3d7 !important;
}

.monthViewDayHeight td {
    border-color: #abc3d7;
    background-color: #ffffff;
    color: #444444;
}

.monthViewDayHeight td[class=weekEnd] {
    background-color: #f6f6f6;
}

.monthCalBodyDayItem {
    background-color: #ffffff;
    border-top-color: #abc3d7;
    border-bottom-color: #ddd;
}

.monthCalBody td {
    background-color: #fff;
    color: #444444;
}

.monthCalBody th a {
    color: #000000;
}

.yearCalBody {
    border: none;
}

.yearCalBodyMonth {
    background-color: #efefef !important;
    border-top: 2px solid #3C8DBC;
    border-bottom: 2px solid #fff;
}

.yearCalBody .monthHeader {
    border: none;
}

.yearCalBodyMonth #daily_cal_table {
    border-top: #abc3d7;
}

.yearCalBodyMonth #daily_cal_table .monthCalBodyTHDay {
    border-color: #abc3d7;
}

.yearCalBodyMonth > a {
    color: #000000;
}

h5.calSharedUser {
    color: #444444;
}
.monthHeader {
    color: #444;
    background-color: #fff;
    border-color: #abc3d7;
    background-image: url('../../../../index.php?entryPoint=getImage&themeName=SuiteR&imageName=bg.gif');
}

/* for subpanel tabs */
.subpanelTabForm {
    border-color: #3C8DBC;
    color: #000000;
    background-color: #ffffff;
}

ul.tablist, ul.subpanelTablist {
    border-bottom-color: #3C8DBC;
}

ul.tablist li a:hover, ul.subpanelTablist li a:hover {
    background: #fafafa;
    border-color: #3C8DBC;
}

ul.tablist li a, ul.subpanelTablist li a {
    background-color: #fff;
    border-color: #dddddd;
}

ul.tablist li a:link, ul.tablist li a:visited, ul.subpanelTablist li a:link, ul.subpanelTablist li a:visited {
    color: #444444;
}

ul.tablist li a:hover, ul.subpanelTablist li a:hover {
    background: #fafafa;
}

ul.subpanelTablist li a.current, ul.subpanelTablist li a.current:hover {
    color: #4f4f4f;
    background: #fff;
    border-right-color:#cccccc;
    border-top:none;
    border-bottom:none;
}

ul.tablist li a.current:link, ul.tablist li a.current:visited, ul.tablist li a.current:hover {
    background: #f6f6f6;
    border-bottom-color: #f6f6f6;
    border-right-color: #abc3d7;
    border-top-color: #abc3d7;
}

#change_layout {
    border: 0;
}

/* for overlib js library */
.olCgClass td {
    border-bottom-color: #abc3d7;
}
.olBgClass {
    background-color: #abc3d7;
}

.yui-navset .yui-nav, .yui-navset .yui-navset-top .yui-nav, .yui-layout .yui-layout-hd {
    border-bottom: 1px solid #ABC3D7;
}

.yui-layout .yui-layout-unit div.yui-layout-bd, .yui-navset .yui-content, .yui-navset .yui-navset-top .yui-content {
    border-color:#ABC3D7;
}


.yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a em, .yui-navset .yui-nav a, .yui-navset .yui-nav a em, .yui-navset .yui-nav a, .yui-navset .yui-navset-top .yui-nav a  {
    border-color: #ABC3D7;
}

a.sugar-tab-close, .yui-navset .yui-nav a.sugar-tab-close, .yui-navset .yui-nav .selected a.sugar-tab-close {
    background : transparent url('../../../../index.php?entryPoint=getImage&themeName=SuiteR&themeName=Sugar55&imageName=sugar-yui-sprites.png')  no-repeat scroll 0 -70px;
}

ul.yui-nav li.selected {
    background:#3C8DBC;
}

#basic_search_link {
    margin-left:6px !important;
}

#ajaxStatusDiv {
    background: #ffffff;
    color: #c60c30;
    position: fixed;
    opacity: .8;
    filter: alpha(opacity=80);
    z-index: 20;
    top: 7px;
    border: 1px solid #aaa;
    padding: 5px;
}

div#chartDashlets {
    overflow-y: auto;
}

/* miscellaneaous 508 classes */
.detail508 tr td[scope="col"] {
    background-color: #F6F6F6;
    border-color: #CBDAE6;
    color: #000000;
    text-align: right;
    white-space: nowrap;
}

td.teamset-row, .edit tr td.teamset-row, .edit tr td table tr td.teamset-row {
    padding: 5px !important;
}

/* competible for SugarActionMenu */

ul.clickMenu {
    list-style: none;
    padding: 0;
    margin: 0 !important;
    vertical-align: bottom;
    color: #000000;
    display: inline-block;
    border:1px solid #dddddd;
    background:#eeeeee;
}

ul.clickMenu form{
    float:left;
    display:block;
}

#globalLinksModule ul.clickMenu.SugarActionMenu li a:hover,
#globalLinksModule ul.clickMenu li:hover span,
ul.SugarActionMenuIESub li a:hover, ul.clickMenu.SugarActionMenu li a:hover, ul.clickMenu.SugarActionMenu li span.subhover:hover,
ul#globalLinksSubnav li a:hover, ul#quickCreateULSubnav li a:hover,
ul.clickMenu li ul.subnav li a:hover,ul.clickMenu li ul.subnav li input:hover, ul.clickMenu.subpanel.records li ul.subnav li a:hover, ul.clickMenu ul.subnav-sub li a:hover { /*--Hover effect for subnav links--*/

   color: #3C8DBC;
}

ul#globalLinksSubnav.SugarActionMenuIESub li a:hover, ul#quickCreateULSubnav.SugarActionMenuIESub li a:hover,
ul.clickMenu:hover > li > span > a, ul.clickMenu:hover > li > a {
    /*color: #fff !important;*/
}

ul.clickMenu li span.ab:hover {
    background-position: 6px 0;
}

ul.clickMenu>li, ul.SugarActionMenuIESub li {
    background-color: #eeeeee;
    float: left;
    margin: 0;
    list-style: none;
    position: relative; /*--Declare X and Y axis base--*/
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding:5px;
    color:#ffffff;
}

ul.SugarActionMenuIESub li a,
ul.clickMenu li a, .list tr.pagination td.buttons ul.clickMenu > li > a:link, .list tr.pagination td.buttons ul.clickMenu > li > a{
    display: block;
    text-decoration: none;
    float: left;
    margin:0 5px 0 0;
    color: #333333;
}

.list tr.pagination td.buttons ul.clickMenu:hover > li > a:link, .list tr.pagination td.buttons ul.clickMenu:hover > li > a{
    color: #fff;
}

ul.clickMenu li.single a{
    padding-right: 8px !important;
}

ul.clickMenu li a:hover{
    text-decoration: none !important;
}

ul.clickMenu li span { /*--Drop down trigger styles--*/
    width: 22px;
    height: 16px;
    float: left;
    background: url('../../../../index.php?entryPoint=getImage&themeName=SuiteR&imageName=actionMenuArrow.png') no-repeat 6px -28px;
    cursor: pointer;
}

ul.clickMenu li span.ab { /*--Drop down trigger styles--*/
    border-left: 1px #aaa solid;
    /* Remove the padding, not needed when we select records */
    /* padding-left: 5px; */
}

ul.clickMenu li span.subhover {
    cursor: pointer;
} /*--Hover effect for trigger--*/

ul.clickMenu li ul.subnav, ul.clickMenu ul.subnav-sub, ul.SugarActionMenuIESub {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 28px;
    background: #fff;
    margin: 0;
    display: none;
    float: left;
    width: auto;
    border: 1px solid #ccc;
    box-shadow: #999 0 5px 10px;
    -moz-box-shadow: #999 0 5px 10px;
    -webkit-box-shadow: #999 0 5px 10px;
    padding: 8px 0;
    z-index: 10;
    overflow:hidden;
}

ul.clickMenu li ul.subnav li, ul.clickMenu ul.subnav-sub li, ul.SugarActionMenuIESub li{
    margin: 0;
    padding: 0;
    clear: both;
    width:100%;
    white-space: nowrap;

}

ul.clickMenu.subpanel.records {
    background-color: #eee;
    border: 1px solid #cccccc;
    background-image: none;
}

ul.clickMenu.subpanel.records li a{
    color: #aaa;
}

ul.clickMenu.subpanel.records > li div:hover a{
    color: #fff !important;
}

ul.clickMenu.subpanel.records li > span{
    opacity: .5;
    height: 16px;
    width: 17px;
    padding:0 5px 0 0 !important;
    background-position: 50% -28px;
}

ul.clickMenu.subpanel.records:hover li > span{

}

ul.clickMenu.subpanel.records li ul.subnav li a span {
    height: 0;
    width: 0;
    background-image: none;
}

ul.clickMenu.button li span.ab:hover {
    background-position: 50% 0;

}

ul.clickMenu.button li > span {
    width: auto;
    background-position: 50% -20px;
    padding: 3px 15px 3px 10px !important;
    height: auto;
}

ul.clickMenu.button:hover li > span {

}

ul.clickMenu.button li > span a {
    padding: 0 !important;
}

ul.clickMenu.button span {
    padding-right: 5px;
}

ul.clickMenu.button li ul.subnav {
    width: auto;
}

ul.clickMenu li a.disabled {
    color:gray !important;
    cursor:default !important;
}

.oddListRowS1:hover td ul.clickMenu.subpanel.records , .evenListRowS1:hover td ul.clickMenu.subpanel.records {
    background:#dddddd;
    border: 1px solid #AAAAAA;
}

.oddListRowS1:hover td ul.clickMenu.subpanel.records li a, .evenListRowS1:hover td ul.clickMenu.subpanel.records li a {
    color: #000;
}

.oddListRowS1:hover td ul.clickMenu.subpanel.records li span, .evenListRowS1:hover td ul.clickMenu.subpanel.records li span {
    opacity: 1;
}

ul.clickMenu li ul.subnav li a,ul.clickMenu li ul.subnav li input, ul.subnav-sub li a, ul.SugarActionMenuIESub li a {
    float: left;
    background: #fff;
    padding: 1px 10px !important;
    border: 0 !important;
    width:100%;
    text-align: left;
    font-size: 12px !important;
    color: #000;

}

ul.clickMenu li ul.subnav li input {
    padding: 2px 10px !important;
    width:100%
}
ul.SugarActionMenuIESub li a:hover,
ul.clickMenu li ul.subnav li a:hover,ul.clickMenu li ul.subnav li input:hover, ul.clickMenu.subpanel.records li ul.subnav li a:hover, ul.clickMenu ul.subnav-sub li a:hover { /*--Hover effect for subnav links--*/
    background-color: #3C8DBC;
    color: #fff;
    font-weight: normal !important;
    font-size: 12px !important;
    cursor: pointer;
    text-shadow: none;

}

td.paginationActionButtons ul.clickMenu .massall,
ul#selectLink.clickMenu .massall, td.selectCol .massall{
    float: left;
    margin: 2px 0 0 4px;
}

td.paginationActionButtons ul.selectmenu > li > a, td.selectCol ul.selectmenu > li > a, ul#selectLink.clickMenu > li > a {
    padding: 0 !important;
}

ul.clickMenu.showLess .moreOverflow , ul.clickMenu.showLess .moduleMenuOverFlowLess, ul.clickMenu.showMore .moduleMenuOverFlowMore {
    display:none;
}

ul#selectLink.clickMenu {
    height: 17px;
    min-width: 20px;
    background-image: none;
}

td.paginationActionButtons ul.clickMenu #massall,
ul#selectLink.clickMenu #massall{
    float: left;
    margin: 1px 4px;
}
.selectActions.clickMenu {
    display: none;
}

ul.clickMenu.show {
    display:inline-block;
}

ul#selectLink.clickMenu > li > a{
    padding-left: 0 !important;
}

ul#selectLink.clickMenu li span {
    height: 17px;
}

ul#selectLink.clickMenu li ul.subnav {

}

ul#detailViewActions.clickMenu {
    margin-top: 2px !important;
}

#selectActions.clickMenu {
    display: none;
}

.selectActionsDisabled {
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ddd;
    vertical-align: bottom;
}

.selectActionsDisabled span {
    width: 17px;
    height: 17px;
    float: left;
    background: url('../../../../index.php?entryPoint=getImage&themeName=SuiteR&imageName=actionMenuArrow.png') no-repeat 6px -28px;
    opacity: .5;
}

.selectActionsDisabled span.ab {
    border-left: 1px #ccc solid;
    margin-left: 10px;
    padding-left: 5px;
}

.selectActionsDisabled a, #selectActionsDisabled a:hover {
    float: left;
    display: block;
    text-decoration: none !important;
    color: #999 !important;
    padding: 1px 0 0 0 !important;
    text-shadow: 1px 1px #FFFFFF;
    font-weight: normal;
    font-size: 13px;
}

#quickCreate {
    float: right;
}

#quickCreate ul.clickMenu {
    background: none;
    border: 0 none;
    padding-right: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#quickCreate ul.clickMenu > li {
    width: 50px;
    height: 43px;

}
#quickCreate ul.clickMenu li > span {
    background: url('../../../../index.php?entryPoint=getImage&themeName=SuiteR&imageName=quick-create.png') no-repeat center center;
    height: 43px;
    width: 50px;
}

#quickCreate ul.clickMenu > li:hover {
    background-color: #276499;
}
ul#globalLinksSubnav li { min-width: 120px;}
ul#globalLinksSubnav, ul#quickCreateULSubnav,
#quickCreate ul.clickMenu li ul.subnav, #globalLinksModule ul.clickMenu li ul.subnav{
    top: 43px;
    right: 0;
    left: auto;
    padding: 10px 0;
    border: 1px solid #999;
    width: 100%;
}

#quickCreate ul.clickMenu li ul.subnav {
    width: auto;
}

#globalLinksSubnav li a, #quickCreateULSubnav li a,
#quickCreate ul.clickMenu li ul.subnav li a, #globalLinksModule ul.clickMenu li ul.subnav li a {
    padding: 4px 10px !important;
    font-size: 13px !important;
    color: #666666 !important;
    line-height: 1.45;
}
#quickCreateULSubnav li.moduleMenuOverFlowLess a, #quickCreateULSubnav li.moduleMenuOverFlowMore a,
#quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowMore a, #quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowLess a {
    color: #999 !important;
}

#quickCreate ul.clickMenu li ul.subnav li a:hover, #globalLinksModule ul.clickMenu li ul.subnav li a:hover, #quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowMore a:hover, #quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowLess a:hover {
    color: #fff !important;
}

ul.clickMenu li ul.subnav li a:hover .showLessArrow, ul.clickMenu li ul.subnav li a:hover .showMoreArrow {
    background-position: center 8px;
    opacity: 1;
}

#quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowMore a img, #quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowLess a img
{
    opacity: .6;
}

/* Table CSS */
.view, table.view td {
    border:none;
}

#ajaxHeader {
    float:left;
}

.selectActionsDisabled {
    padding: 3px 8px 3px 8px;
    margin: 0 3px 0 3px;
    background: #cccccc; /* Old browsers */
    color: #121212;
    cursor: pointer;
    font-size:12px;
}

a#create_link.utilsLink {
    color: #fff;
    background-color: #3C8DBC;
    border:none;
    padding:5px 8px 5px 8px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration:none;
}

a#create_link.utilsLink:hover {
    background-color: #008080;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

h1,h2,h3,h4 {
    color:#333333;
    font-weight:normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0 0 5px 0;
}

select {
    padding:4px;
}

a:link {
    text-decoration:none;
}

iframe.teamNoticeBox {
    width:100%;
    overflow:auto;
}

#globalLinks ul li a {
    text-decoration:none;
}
.iconed {
    padding: 5px 5px 2px 0;
    margin-left:5px;
    float:left;
}

#query_string {
    margin:0;
}

.dashletPanel {
    padding:0;
    margin:15px;
}

.hd-center {
    padding:0;
    margin:0;
}

.bd {
    padding:0;
    margin:0;
}

.view, table.view {
    padding:0;
    margin:0;
    background:#fefefe;
}

.evenListRowS1 {
    background:#efefef;
}

.monthHeader {
    border:none;
    background:#efefef;
    padding:5px;
}

.toggler {
    margin:10px;
}

.detail h4 {
    font-weight: bold;
    margin:10px;
    text-align: left;
    border: none;
}

#dialog {
    text-align:center;
    overflow:hidden;
    zoom:1;
    padding:25px;
    z-index: 1;
    background-opacity:0.6;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: none;
}

#links {
    float:right;
}

#bottomLinks {
    margin:0 auto;
    text-align:center;
}

#moduleDashletsList {
    height:auto;
}

#dashletsList{
    max-height:500px !important;
    overflow:hidden;
}

#dashletsDialog_c{
    margin-left:-125px;
    margin-top:-50px;
}

button[disabled]:hover, input[type=submit][disabled]:hover, input[type=reset][disabled]:hover, input[type=button][disabled]:hover
{
    border: none;
    background-color: #777777;
    color: #000000;
}

.iconed_dull {
    opacity:0.6;
}

.dashletNonTable {
    padding: 0 5px 0 10px;
}

a.crumbLink {
    font-size:14px;
}

span.crumbLink {
    font-size:14px;
}

#settingsDialog table.view {
    padding:10px;
    margin:5px 0 5px 0;
}

.view tr {
    padding:5px 0 5px 0;
}

#mbfooter .yui-layout-hd td {
    background:none;
}

select, textarea {
    border:1px solid #ccc;
    padding:4px;
}

select:focus {
    border:1px solid #3C8DBC;
    padding:4px;
}

.chartContainer table tr td {
    padding:3px;
}

.tabForm {
    border: none;
    background:#ffffff;
}

#create_image {
    display:none;
}

a#delete_listview_top:hover {
    color:#ffffff;
}

#add_dashlets {
    display:none;
}

.moduleTitle {
    margin-top:10px;
}

.about_suite {
    padding: 0 25px 0 0;
    float:left;
    max-width:550px !important;
}

.about_suite h3 {
    font-weight:normal;
    font-size:18px;
}

.about_suite ul li {
    font-size:14px;
    margin-bottom:10px;
    color:#777777;
}

#about_menu {
    margin-top:10px;
    margin-bottom: 20px;
    padding-left: 0;
}

#about_table {
    width:100%;
}

#about_header {
    padding: 10px 15px 20px 15px;
}

#about_menu li {
    list-style-type: square;
}

#featuring {
    padding:10px 0 0 0;
    font-size:14px;
    color:#777777;
}

.wrapper {
    border:1px solid #000;
    display:inline-block;
    position:relative;
}

.wrapper input,
.wrapper button {
    background-color:transparent;
    border:0;
}

.wrapper button {
    position:absolute;
    right:0;
    top:0;
}

.wrapper input {
    padding-right:30px; /* button padding */
}

input[type=text].cstm_code {
    resize:both;
    width:200px;
    height:200px;
}

#moduleDashletsList {
    max-height:375px !important;
}

#caseStyleUser {
    background:#f7f7f7;
    border:1px solid #cccccc;
    margin:10px;
    padding:10px;
}

#caseStyleContact {
    background:#DEDEDE;
    border:1px solid #cccccc;
    margin:10px;
    padding:10px;
}

#caseStyleInternal {
    background:#00EEEE;
    border:1px solid #cccccc;
    padding:10px;
    margin: 10px 60px 10px 10px;
}

.caseUpdateImage {
    margin:0 5px 0 0;
}

.caseUpdate{
    margin:5px 0 0 15px;
}

#extramargin {
    margin: 0 0 0 50px;
}

#lessmargin {
    margin: 0 50px 0 0;
}

/* Start color and theme picker */
.themePicker
{
    padding-top: 1em;
}

.themePicker td
{
    padding: 0 !important;
}

.themePicker > table > tbody > tr > td
{
    text-align: left;
    vertical-align: top;
    width: 100%;
}

.themePicker hr
{
    margin: 0;
}

#themepickerLinkSpan
{
    cursor:pointer;
}

#colorPicker
{
    padding: 8px 5px 0 7px;
}

#colorPicker ul
{
    border: none;
    padding: 3px 0 0 0;
    margin: 0 0 0 10px;
}

#colorPicker ul li
{
    list-style-type: none;
    display: inline;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

#themeName
{
    font-weight: bold;
}

#leftColumn
{
    left: 10px;
    position: absolute;
    float: left;
    width: 14.5em;
}

#color_menu, #font_menu {
    width:200px;
    height:15px;
    margin:0;
    padding:0;
}

#color_menu li, #font_menu li{
    float:left;
    height:15px;
    width:15px;
}

#themepickerDialog div[class="ft"]{
    display:none;
}

#stylepicker{
    border-width:1px;
    margin:0;
    padding:0;
    width:auto;
}

#themepickerDialog_c{
    right: 2em;
    top: 3em;
}

/* End color and theme picker */

/* Start SuiteCRM Responsive/Bootstrap additional CSS */
.headerlinks a:link, .headerlinks a:visited {
    color:#ffffff;
    padding:14px 5px 14px 0;
    width:100%;
}

.headerlinks a:hover {
    color:#428BCA;
}

@media (min-width:768px) and (max-width:979px) {
    #bs-example-navbar-collapse-1 {
        display:none!important;
    }
}
@media (min-width:980px) {
    #bs-example-navbar-collapse-1 {
        display:block !important;
    }
}


.navbar-inverse {
    background:#3C8DBC !important;
    max-height:50px !important;
}

.nav-pills li {
    display: inline;
}

ol, ul, dl {
    margin:0;
}

#loginform {
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    background:#ffffff;
    -moz-box-shadow: 0 0 5px 5px #dddddd;
    -webkit-box-shadow: 0 0 5px 5px#dddddd;
    box-shadow: 0 0 5px 5px #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-signin img{
    max-width:95% !important;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

#bigbutton{
    border-radius:0;
    padding:10px 0 10px 0;
}

div.input-group input{
    margin:0 auto;
    min-width:100% !important;
    max-width:100% !important;
}

.button-primary:active, .button-primary.active, .open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.button-primary.disabled,
.button-primary[disabled],
fieldset[disabled] .btn-primary,
.button-primary.disabled:hover,
.button-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.button-primary.disabled:focus,
.button-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.button-primary.disabled.focus,
.button-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.button-primary.disabled:active,
.button-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.button-primary.disabled.active,
.button-primary[disabled].active,
fieldset[disabled] .btn-primary.active{
    background-color: #3C8DBC;
    border-color: #2e6da4;
}

.button-primary .badge {
    color: #3C8DBC;
    background-color: #fff;
}

.dropdown-menu {
    background:#f7f7f7;
    padding:10px;
    min-width: 185px;
    margin-top:1px !important;
    border-radius:0;
    font-size:1em;
}

.dropdown-menu em {
    padding: 0 10px 0 10px;

}
.dropdown-menu em a {
    color:#3C8DBC;
}

.dropdown-menu em a:hover {
    color:#565656;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.dropdown-menu li{
    margin:5px 0 5px 0;
}

.dropdown-menu li a {
    color:#3C8DBC;
    text-decoration:none;
    padding:5px;
    display:block;
}

.dropdown-menu li a:hover {
    color:#ffffff;
    background:#3C8DBC;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

.recent_h3{
    color:#333333;
}

li.topnav{
    margin:0;
    padding:15px 0 12px 0;
    font-size:1.1em;
}

li.topnav:hover{
    background-color: #597dbc !important;
}

.hr {
    height:1px;
    color:#ffffff;
    background:#ffffff;
}

#usermenu{
    color:#ffffff;
    cursor:pointer;
    font-size:1.1em !important;
    list-style:none;
    padding:8px 0 8px 10px !important;
}

li#usermenu:hover {
    color:#ffffff;
    background:#3C8DBC;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* Custom styles fore 'More' list item on top navigation */

.moremenu a{
    color:#ffffff !important;
    font-size:1.2em;
    cursor:pointer;
    margin:0;
    padding:8px 0 0 0;
}

.moremenu ul {
    margin:0;
    top:49px;
}

@media (max-height:700px) {
    .moremenu ul, ul.dropdown-menu {
        max-height: 525px !important;
        overflow: auto;
    }
}

@media (min-height:701px) and (max-height:800px) {
    .moremenu ul, ul.dropdown-menu {
        max-height: 575px !important;
        overflow: auto;
    }
}

@media (min-height:801px) and (max-height:900px) {
    .moremenu ul, ul.dropdown-menu {
        max-height: 700px !important;
        overflow: auto;
    }
}

@media (min-height:901px) and (max-height:1000px) {
    .moremenu ul, ul.dropdown-menu {
        max-height: 800px !important;
        overflow: auto;
    }
}

@media (min-height:1001px) {
    .moremenu ul, ul.dropdown-menu {
        max-height: 850px !important;
        overflow: auto;
    }
}

.moremenu ul li a{
    color:#3C8DBC !important;
    cursor:pointer;
    padding:5px;
    font-size:1.2em;
    display: block;
}

.moremenu ul li:hover{
    border-radius:0 !important;
}

.moremenu ul li a:hover{
    color:#ffffff !important;
    background:none !important;
    cursor:pointer;
    padding:5px;
    background:#3C8DBC !important;
}

.button, input[type=submit], input[type=button] {
    background-color: #3C8DBC;
    border:none;
    color: #fff;
    cursor:pointer;
    font-size:1.1em !important;
    margin:2px;
    padding:5px 8px 5px 8px;
}

button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled]{
    background-color: #777777;
    border:none;
    color: #ffffff;
    cursor:pointer;
    font-size:1.1em !important;
    margin:2px;
    padding:5px 8px 5px 8px;
}

.yui-layout-hd .button, .yui-layout-hd input[type=submit], .yui-layout-hd input[type=button]{
    font-size:1.5em !important;
}

.button:hover,
.button:focus,
.button.focus,
.button:active,
.button.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.button:active,
.button.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.button .badge {
    color: #3C8DBC;
    background-color: #fff;
}

input[type=text], select{
    background:#ffffff;
    border:1px solid #cccccc;
    padding:5px;
}

.list tr th {
    font-weight:normal;
}

.list tr th a:link {
    font-weight:normal;
}

.edit h4 {
    padding:0 0 10px 0;
    margin:0 0 10px 0;
    font-size:21px;
    border-bottom:1px solid #dddddd;
}

#globalinks ul li a {
    color:#333333;
}

#dashletresponsive {
    float: left;
}

.dashboardTbList {
    max-width:90% !important;
}

ul.dashboardTabList li {
    list-style:none;
    margin:0 0 10px 0;
}

#addbuttons {
    float:right;
    margin:0 5px 0 5px;
}

.navbar-brand{
    display:none;
}

@media (min-width:980px){
    .navbar-inverse .navbar-brand {
        color: #ffffff;
        height: 50px;
        display:inline;
    }
}

.btn-success {
    background:#3C8DBC;
    border: none;
}

.headerlinks a:hover {
    color:#ffffff;
}

table {
    font-size:1em;
}

table legend {
    font-size:1.2em;
}

.edit h4 {
    font-size:1.2em;
}

.list tr th {
    font-size:1em;
}

.list {
    font-size:1em;
}

#tabs {
    border:none;
}

#tabs ul li {
    list-style:none;
}

.ui-widget-header {
    background:#ffffff;
    color:#565656;
    border:none;
}

.ui-tabs .ui-tabs-nav li a {
    padding:5px;
    font-size:0.9em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:#eeeeee;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-default a:hover {
    font-weight:bold;
}

.ui-widget-content a {
    color:#3C8DBC;
}

.ui-widget-content a:hover {
    color:#008080;
}

.ui-tabs ul li a, .ui-tabs ul li a h3{
    padding:5px;
    margin:0;
}

/* CSS for custom admin panel */

#admincontainer {
    display: table;
}

#adminrow  {
    display: table-row;
}

#adminsection{
    display: table-cell;
}

/* Removing border for tables */

.detail table, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    border:1px solid #dddddd;
}

#footernav{
    margin: 0 auto; padding: 0;
    width:165px;
}

@media screen and (max-width:801px) {
    footer {
        display:none
    }
}

#usermenucollapsed {
    margin:0 0 0 5px;display:none;
}
#searchbutton {
    display:none;
}

#searchmobile {
    margin-top:8px;
    display:none;
}
#searchbutton {
    margin:10px 5px 0 0;
}

#searchform{
    margin-right:-10px;
}

#mobilegloballinks{
    display:none;
}

@media (max-width:480px){
    #searchmobile{
        float:left;
        z-index:50 !important;
        position:absolute;
        left:60px;
        width:70% !important;
    }
    #searchmobile #query_string{
        width:75% !important;
        outline: 0 !important;
        background:#3C8DBC !important;
        border:none !important;
        border-radius:0 !important;
        border-bottom:1px solid #cccccc !important;
        color:#f7f7f7 !important;
        -webkit-appearance: none !important;
        box-shadow:none !important;
        float:left;
    }

    #mobilegloballinks{
        display:inline;
    }
}
@media (min-width:480px) and (max-width:680px){
    #searchmobile{
        float:left;
        z-index:50 !important;
        position:absolute;
        left:60px;
        width:80% !important;
    }
    #searchmobile #query_string{
        width:80% !important;
        outline: 0 !important;
        background:#3C8DBC !important;
        border:none !important;
        border-radius:0 !important;
        border-bottom:1px solid #cccccc !important;
        color:#f7f7f7 !important;
        -webkit-appearance: none !important;
        box-shadow:none !important;
        float:left;
    }
    #mobilegloballinks{
        display:inline;
    }
}

@media (min-width:681px) and (max-width:980px){
    #searchmobile{
        float:left;
        z-index:50 !important;
        position:absolute;
        left:60px;
        width:85% !important;
    }
    #searchmobile #query_string{
        width:85% !important;
        outline: 0 !important;
        background:#3C8DBC !important;
        border:none !important;
        border-radius:0 !important;
        border-bottom:1px solid #cccccc !important;
        color:#f7f7f7 !important;
        -webkit-appearance: none !important;
        box-shadow:none !important;
        float:left;
    }
    #mobilegloballinks{
        display:inline;
    }
}

/* Media queries for larger screens to hide mobile content */

@media (max-width:1279px){
    #usermenu, #searchform{
        display:none;
    }

    #globalLinks{
        border:none; margin:10px 000; padding:0;
    }

    .navbar-form .form-control {
        margin:8px 000;
    }
    #usermenucollapsed,#searchbutton{display:inline;}
}

/* Media queries to hide sidebar, change menus for mobile */

@media (max-width: 979px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }

    .collapsing {
        overflow: hidden!important;
    }

    /* Hide search/admin buttons for mobile/tablet screens */
    #usermenucollapsed{
        margin:0 0 0 5px;display:none;
    }

    #searchbutton {
        display:none;
    }

    #dashletresponsive {
        width:auto;
    }

    #buttontoggle {
        display:none;
    }

    .recentlyViewedSidebar, .recent_h3{
        display:none;
        margin:0;
        padding:0;
    }
    .moremenu ul li a{
        color:#ffffff;
    }

    .moremenu ul li a {
        color: #f7f7f7 !important;
        cursor: pointer;
        padding: 5px;
        font-size: 1em;
        display: block;
    }
}

/* Global add-ons */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* Top navigation - Hide default border to remove 1px line. */

.navbar-fixed-top {
    border: 0;
}

/* Sidebar CSS */

/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 979px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding:20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f7f7f7;
        border-right: 1px solid #eee;
        min-width:215px !important;
    }
}

#userlinks {
    margin: 0 0 15px 10px;
}

#userlinks a{
    padding:5px 10px 5px 10px;
    font-size:1.1em;
}

#userlinks_head {
    display:none;
}

.navbar-toggle{
    float:left;
}

@media (max-width:480px){
    #userlinks_home, .quickcreate, #userlinks_currentuser{
        display:none;
    }
}

@media (max-width: 979px) {
    #userlinks_head {
        display:inline;
        margin:8px 0 0 0;
        padding:8px;
        float:right;
    }
    #userlinks_head a {
        color: #ffffff;
    }

    #userlinks_head ul li a{
        color:#3C8DBC;
    }

    #userlinks_head ul li a:hover{
        color:#ffffff;
    }
    #searchmobile ::-webkit-input-placeholder {
        color: #f7f7f7 !important;
    }

    #searchmobile :-moz-placeholder { /* Firefox 18- */
        color: #f7f7f7 !important;
    }

    #searchmobile ::-moz-placeholder {  /* Firefox 19+ */
        color: #f7f7f7 !important;
    }

    #searchmobile :-ms-input-placeholder {
        color: #f7f7f7 !important;
    }
}

span#quickcreateplus{
    padding:0 0 0 10px;
}

#quickcreatelinks{
    margin: 0 0 15px 12px;
    font-size:1.1em;
}

#quickcreatetop button, #desktop_notifications button{
    margin:10px 0 0 0;
}
/* Main content */

.main {
    padding: 20px 20px 0 20px;
    background:#ffffff;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/* Placeholder dashboard ideas */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* Padding for sidebar items */

.nav > li > a {
    padding:8px 0 8px 0;
}

li.moremenu {
    padding:8px 10px 8px 10px;
}

/* Fix so that sidebar does not oversize on larger screens */

@media (min-width:320px) and (max-width:978px){
    .col-sm-3 {
        display:none;
    }
    .col-sm-offset-3 {
        margin:0;
    }
    .col-sm-9{
        width:99%;
    }
}

@media (min-width:979px) and (max-width:1024px) {
    .col-sm-3 {
        max-width:215px !important;
    }
    .col-sm-offset-3 {
        margin-left:215px;
    }
    .col-sm-9{
        width:80%;
    }
}

@media (min-width:1024px) and (max-width:1535px) {
    .col-md-2 {

        max-width:215px !important;
    }
    .col-md-offset-2 {
        margin-left:215px;
    }
    .col-md-10{
        width:83%;
    }
}

@media (min-width:1536px) and (max-width:2559px) {
    .col-md-2 {

        max-width:215px !important;
    }
    .col-md-offset-2 {
        margin-left:215px;
    }
    .col-md-10{
        width:88%;
    }
}

@media (min-width:2560px) {
    .col-md-2 {

        max-width:215px !important;
    }
    .col-md-offset-2 {
        margin-left:215px;
    }
    .col-md-10{
        width:91%;
    }
}

/* Responsive detail view styles */

@media only screen and (max-width: 480px) {
    /* Force table to not be like tables anymore(deconstruct) */
    .detail table, .detail thead, .detail tbody, .detail th, .detail td, .detail tr {
        display: block;
        background: none;
    }

    .detail tr, .detail tr td[scope="col"], .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .detail tr td, .detail table, table.detail {
        background: none;
        border: none;
    }

    /* Custom styling for table header */
    .detail h4 {
        font-size: 1.2em;
        background: #eeeeee;
        border: 1px solid #cccccc;
        margin: 10px 0 0 0;
        padding: 8px;
    }

    .detail508 tr td[scope="col"] {
        font-weight: bold;
    }

    .detail tr{
        margin:0;
        padding:0;
    }

    .detail tr:last-child {
        border: none;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 980px) {
    /* Force table to not be like tables anymore(deconstruct) */
    .detail table, .detail thead, .detail tbody, .detail th, .detail td, .detail tr {
        display: block;
        background: none;
    }

    .detail tr, .detail tr td[scope="col"], .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .detail tr td, .detail table, table.detail {
        background: none;
        border: none;
    }

    /* Custom styling for table header */
    .detail h4 {
        font-size:1em;
        background: #eeeeee;
        border: 1px solid #cccccc;
        margin: 10px 0 0 0;
        padding: 8px;
    }

    .detail508 tr td[scope="col"], .edit tr td[scope="col"] {
        font-weight: bold;
        margin:0;
        text-align:left;
        max-width:10%;
    }

    /* This border breaks up/defines sections from view */
    .detail tr {
        border-bottom: 1px solid #cccccc;
    }

    .detail tr:last-child {
        border: none;
    }

    .detail td, #DEFAULT td {
        display: inline-block;
        border: none;
        margin: 0 5px 0 25px;
        padding:0;
        font-size:1em;
        width:auto;
        min-width:35%;
    }
}

/* Responsive edit view styles */

@media (max-width:640px){

    /* Force table to not be like tables anymore(deconstruct) */
    .edit table, .edit thead, .edit tbody, .edit th, .edit td, .edit tr,
    .popupBody .edit table, .popupBody .edit thead, .popupBody .edit tbody, .popupBody .edit th, .popupBody .edit td, .popupBody .edit tr {
        display: block;
        background:none;
        width:100%;
    }
    .edit  tr,.edit tr td[scope="col"],.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td,.detail tr td,.detail table, table.detail {
        background:none;
        font-size:1em;

    }
    /* Custom styling for table header */
    .edit h4 {
        font-size:1.2em;
        background:#eeeeee;
        border:1px solid #cccccc;
        margin:10px 0 0 0;
        padding:8px 0 8px 0;
    }
    .edit tr td[scope="col"] {
        font-weight:bold;
    }
    /* Fix for textarea so it does not overflow */
    td textarea {
        width:95%;
    }
    .edit > table {
        border: 1px solid #cccccc;
    }
    /* This border breaks up/defines sections from view */
    .edit tr {
        border-bottom: 1px solid #cccccc;
    }
    .edit tr:last-child {
        border:none;
    }
    .edit input[type=text] {
        font-size:1em;
    }
    /* Fix for how email section/table shows */
    .emailaddresses tr, .emailaddresses td {
        display:inline;
        border:none;
    }
    /* Responsive dashlet styles */
    .dashletcontainer {
        float:left;
    }
    .dashletPanel {
        overflow:auto;
    }
    .dashboardTabList {
        display:none;
    }
    /* Fix to remove rogue bootstrap margin on smaller devices to correct margin issue */
    #bootstrap-container,.col-sm-9, .col-sm-offset-3, .col-md-10, .col-md-offset-2, .main {
        margin:0;
        padding:0;
    }
    /* Fix for mobile footer hiding content at bottom of page */
    #content, #pageContainer {
        width:100%;
        margin: 0 0 50px 0;
    }
}

/* Make buttons larger on mobile */

@media (max-width:1023px) {
    button, .button, input[type="button"], input[type="reset"], input[type="submit"], a#create_link.utilsLink {
        color: #fff;
        background-color: #3C8DBC;
        border: none;
        padding: 8px 12px 8px 12px;
        margin: 2px;
    }
    .quickcreate {
        margin:0;
        padding:5px 7px 5px 7px;
    }
}

/* Hide search form as standard */
@media (max-width:980px) {
    .search_form {
        display: none;
    }
}

/* Custom styling for recently viewed on sidebar */
li.recentlinks_top{
    float:left;
    width:75%;
    overflow: hidden;
    margin-left:2px;
}

li.recentlinks_topedit {
    float:right;
    width:20%;
}

li.recentlinks_topedit a:focus{
    color:#FFF !important;
}

.recentlinks_top a{
    width:100%;
    height:100%;
}


li.recentlinks a {
    float:left;

}

li.recentlinks_edit a {
    float:right;
}

li.recentlinks_edit a:hover {
    background:none !important;
}

/* Custom styling from group tabs menu structure */

a[id^=grouptab], a[id^=moduleTab]{
    color: #f7f7f7;
    padding:15px 0 18px 0;
}

a[id^=grouptab]:visited, a[id^=grouptab]:active {
    background:none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background:none;
}

#globalLinksicons {
    margin:0 5px 0 0;
}

.popupBody {
    margin:10px;
    padding:0;
}

.popupBody input[type=text], .popupBody textarea{
    width:95%;
}

.popupBody .list .view {
    overflow:scroll;
    width:95%;
}

.navbar-inverse .navbar-toggle {
    border:none;
}

@media(max-width:980px){
    ul.navbar-nav li a,.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color:#ffffff; !important;
    }
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background:none;
}

#user_password, #user_name {
    width: 150px;
}

.edit img#company_logo_image{
    max-width:250px !important;
    margin-top:50px;
}

.chartContainer .label{
    color:#333333 !important;
    font-weight:normal;
    font-size:1em;
}

.serverstats{
    margin:0;
    padding:0;
    width:250px !important;
    float:left;
}

.dashboardTabList li a span {
    cursor:pointer;
}

.View {
    border: 1px solid #cccccc;
}

@media (max-width:768px) {
    .View {
        border: 1px solid #cccccc;
    }

    #month-tab, #year-tab, #shared-tab{
        display:none;
    }
}

.list thead {
    border-bottom:1px solid #cccccc;
    padding:10px;
}

.table > thead > tr > th {
    border:none;
}

@media (max-width:980px) {
    .dashletNonTable {
      display:none;
    }

    .dashletcontainer {
        width:100%;
        position:relative;
        margin:0;
        float:left;
        padding:0;
    }
}

.table > thead > tr > th {
    border:none;
}

.list thead{
    border-bottom:1px solid #cccccc;
}

.home_h3 span{
    margin: 0 5px 0 5px;
}

@media (max-width:640px){
    #cal-edit, #settings_dialog, #settings_dialog form, #container1 {
        top:10px;
        max-height:400px !important;
        max-width:300px !important;
        overflow:scroll;
    }
}

@media(min-width:641px) and (max-width:978px){
    #cal-edit{
        max-height:50% !important;
        max-width:55% !important;
        overflow:scroll;
        margin:0 0 0 50px;
    }
}

@media(min-width:979px) and (max-width:1279px){
    #cal-edit{
        max-height:50% !important;
        max-width:55% !important;
        overflow:scroll;
        margin:0 0 0 250px;
    }
}

@media(min-width:1280px){
    #cal-edit{
        margin:0 0 0 200px;
    }
}

#forgotpasslink {
    margin: 10px 0 0 0;
}

@media (max-width:480px) {
    .paginationChangeButtons {
        max-width:125px;
    }
    .paginationActionButtons{
        padding:30px;
    }

    #listViewStartButton_top, #listViewPrevButton_top, #listViewNextButton_top, #listViewEndButton_top,
    #listViewStartButton_bottom, #listViewPrevButton_bottom, #listViewNextButton_bottom, #listViewEndButton_bottom,
    #listViewStartButton_, #listViewPrevButton_, #listViewNextButton_, #listViewEndButton_{
        padding: 2px 5px 2px 5px;
        margin: 0;
    }

    .pageNumbers {
        font-size: 10px;
    }

    #selectedRecordsTop {
        max-width: 100px;
        float: left;
    }
    ul.clickMenu li span {
        width: 16px;
        height: 16px;
        float: left;
        background: url("../../../../index.php?entryPoint=getImage&themeName=SuiteR&themeName=suiteresponsive&imageName=actionMenuArrow.png") no-repeat scroll 6px -28px transparent;
        cursor: pointer;
    }
}

#buttontoggle {
    position: fixed;
    left: 0;
    top: 130px;
    background:#eeeeee;
    z-index: 100;
    height:32px;
    width:24px;
    padding:8px 4px 8px 4px;
}

/* Override bootstrap styles where not required */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #FFF;
    background:none !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #bbbbbb !important;
}

/* Dashlet CSS */

.dashletPanel .h3Row {
    background: #ffffff;
    color:#ffffff;
    border-bottom:1px solid #eeeeee; !important;
}

.h3Row {
    padding:5px 10px 5px 10px;
    margin:5px 0 5px 0;
}

.dashletPanel{
    border:1px solid #eeeeee; !important;
    box-shadow: #cccccc 0 5px 10px;
    -moz-box-shadow: #cccccc 0 5px 10px;
    -webkit-box-shadow: #cccccc 0 5px 10px;
}

.dashletPanel .h3Row h3{
    color:#3C8DBC;
    font-weight:bold;
    margin:0 0 0 10px;
}

#dashletbuttons{
    color:#3C8DBC;
    margin: 0 2px 0 2px;
}

#dashletbuttons:hover{
    opacity:0.8;
}

.dashletToolSet{
    margin: 0 10px 0 0;
}

.teamNoticeBox{
    border:none;
}

.oddListRowS1, .evenListRowS1{
    background:#f7f7f7 !important;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}

.list tr.oddListRowS1 td, .list tr.evenListRowS1 td{
    padding-top:10px !important;
    padding-bottom:10px !important;
}

#copyright_data a{
    color: #000000;
    margin: 0 5px 0 5px;
}

#copyright_data a:hover, #links a:hover{
    cursor:pointer;
    text-decoration:none;
}

@media (min-width: 768px) {
    .showsearch{
        display:none;
    }
}

.helpIcon{
    display:none;
}

.paginationWrapper{
    float:right;
    margin:0;
    padding:0;
}

.paginationWrapper span, .paginationWrapper span,{
    padding: 0;
    margin: 0;
}

[id^=list_subpanel_]
{
    margin-bottom: 25px !important;
    border: 1px solid #dddddd;
}

[id^=list_subpanel_] tr:last-child
{
    margin-bottom: 25px !important;
    border-bottom: none;
}

.h3Row{
    padding:0;
    margin:0;
}

div.action_buttons form {
    float:left;
}

.paginationWrapper {
    float:right;
}

/* Fix to override bootstrap for email module panel collapse/expand */

.yui-layout .yui-layout-clip-right .collapse, .yui-layout-hd .collapse, .yui-layout .yui-layout-clip-left .collapse{
    visibility:visible !important;
    display:block !important;
}

.actionmenulinks a span{
    padding:5px;
}

/* Fix to make Boostrap drop down hover on larger screens */

@media (min-width:1024px) {
    .navbar-nav > li:hover ul.dropdown-menu, #globalLinks:hover ul.dropdown-menu, #quickcreatetop:hover ul.dropdown-menu {
        display: block;
    }

    /* if you want to hide the arrow */
    a.menu:after, .dropdown-toggle:after {
        content: none;
    }
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}

.recently_viewed_link_container{
    width:100%;
    float:left;
    overflow: hidden;
}

.recently_viewed_link_container_sidebar{
    margin-bottom:10px;
    width:100%;
    float:left;
    overflow: hidden;
}

h3 span{
    font-weight:bold;
}

@media only screen and (max-width: 959px) {

    table.mceLayout, textarea.tinyMCE {
        width: 100% !important;
    }

    /* make the toolbar wrap */
    .mceToolbar td {
        display:table-row;
        float: left;
    }
    .mceToolbar td:nth-of-type(11){
        clear: left;
    }

    table.mceLayout, textarea.richEditor, {
        width: 90% !important;
        overflow:scroll;
    }

    /* remove the toolbar wrap */
    .mceToolbar td {
        display:table-cell;
        float: none;
    }
    .mceToolbar td:nth-of-type(11){
        clear: none;
    }
    .defaultSkin .mceToolbar{
        height:auto !important;
    }
}

#layoutEditor .le_row {
    margin: 2px 3px;
    height:25px;
    clear: both;
    padding:0 10px 5px 20px !important;
}

#toolbox .le_panel, #toolbox .le_row, .le_field {
    width: 150px;
    float: left;
    border: 1px solid #808080;
    background: none repeat scroll 0% 0% #EEE;
    padding:0 !important;
    margin: 2px 3px;
}

#toolbox{
    overflow:auto;
}

@media(min-width:980px) {
    #dialog1_c {
        margin-left: 40%;
        margin-top:100px;
    }
    #dlg {
        left:40%;;
    }
    #dlg_c{
        left:50%;
    }
}

#dlg {
    left:300px;
    top:75px;
}

@media (max-width:1360px){
    #dlg{
        top:50px;
    }

    #dlg .bd{
        max-height:500px;
        overflow-y:scroll;
    }
}

@media (max-width:979px) and (max-height:1024px) {
    #dashletsDialog_c{
        margin-top:25px;
        margin-left:0;
        margin-bottom:25px;
        height:70%;
        overflow:scroll;
    }
}

/* Customisations to top navigation for mobile. */
#mobile_menu{
    position:absolute;
    top:50px;
    left:0;
    overflow-y: scroll;
    overflow-x: hidden !important;
    float:left;
    width:200px !important;
    margin:0;
    padding:0;
    background: #3C8DBC !important;
}

#mobile_menu li{
    list-style: none;
    height:50px;
    line-height:50px;
    margin:0;
    border-bottom: 1px solid #44AEBC;
}

#mobile_menu a{
    color: #ffffff;
    display:block;
    padding:0 10px 5px 10px;
    font-size:1.2em;
}

#mobileheader #modulelinks ul li a{
    font-size:1.3em;
}

@media (min-width:979px) {
    #mobile_menu{
        display:none !important;
    }

    #quickcreatetop a, #desktop_notifications a{
        color:#ffffff !important;
        margin:8px 0 8px 0 !important;
        line-height:50px;
        padding: 0 5px 0 5px !important;
        cursor:pointer;
    }

    #quickcreatetop ul li, #desktop_notifications ul li{
        padding:0 !important;
        margin:0 !important;
    }

    #quickcreatetop ul li a, #desktop_notifications ul li a{
        color:#3C8DBC !important;
        padding:0 3px 0 3px !important;
        margin:0 !important;
        line-height:35px;
    }

    #quickcreatetop ul li a:hover, #desktop_notifications ul li a:hover{
        color:#ffffff !important;
    }

    #quickcreatetop .dropdown-menu{
        margin-top:0px !important;
    }

}

.navbar-collapse.collapse{
    overflow:scroll !important;
}

#themePreview{
    width:250px;
}
.modulename{
    visibility:hidden;
}
.icon{
    fill: #3c8dbc;
    pointer-events: none;
    fill: #3C8DBC;
    pointer-events: none;
}
.inlineEdit{
    cursor: pointer !important;
}

.inlineEditIcon {
    float: right;
    height: 10px;
    color: #3c8dbc;
    width: 15px;
    padding-left: 3px;
}

.inlineEditIcon svg {
    fill: #3c8dbc;
    display: none;
}

.inlineEdit:hover .inlineEditIcon svg{
    cursor: pointer !important;
    display:inline;
}

td.inlineEditActive{
    background-color: #cccccc;
}

#inlineEditSaveButton{
    float:right;
    display:inline;
}

#inlineEditSaveButton svg{
    fill: #3c8dbc;
}

#inlineEditSaveButton svg:hover{
    fill: #3c8dbc;
}

#inline_edit_field{
    float:left;
    width:80%;
    padding-right:5px;
}
@media (max-width:360px){
    .modulename{
        visibility:visible;
        font-size:1.2em;
        float:left;
        line-height:50px;
        text-align:center !important;
        margin:0 auto !important;
        width:225px;
    }
}
@media (min-width:361px) and (max-width:420px){
    .modulename{
        visibility:visible;
        font-size:1.2em;
        float:left;
        line-height:50px;
        text-align:center !important;
        margin:0 auto !important;
        width:225px;
    }
}

@media (min-width:421px) and (max-width:480px){
    .modulename{
        visibility:visible;
        font-size:1.2em;
        float:left;
        line-height:50px;
        text-align:center !important;
        margin:0 auto !important;
        width:350px;
    }
}

@media (min-width:481px) and (max-width:980px){
    .modulename{
        visibility:visible;
        font-size:1.2em;
        float:left;
        line-height:50px;
        text-align:center !important;
        margin:0 auto !important;
        width:75%;
    }
}

@media (max-width:980px) {
    .modulename{
        visibility:visible;
    }
    #modulelinks ul.dropdown-menu {
        position: absolute;
        top: 50px;
        left: 35%;
    }
}
@media (max-width:979px) {
    #mobilegloballinks a {
        color: #ffffff !important;
        float: right;
        margin: 8px 0 0 0;
        padding: 8px;
    }

    #mobilegloballinks ul.dropdown-menu {
        position: relative;
        float:right;
    }

    #mobilegloballinks ul li a {
        color: #3C8DBC !important;
    }

    .glyphicon-search, .glyphicon-option-vertical {
        font-size:1.5em;
    }
}

/*
    Fix for github issue: "SuiteR Responsive Theme navigation bar #569"
*/
@media (max-width:340px) {
    #mobilegloballinks a {
        color: #ffffff !important;
        float: right;
        margin: 8px 0 0;
        padding: 8px;
        position: fixed;
        right: 0;
        top: 0;
    }

    #userlinks_head {
        color: #ffffff !important;
        float: right;
        margin: 8px 0 0;
        padding: 8px;
        position: fixed;
        right: 40px;
        top: 0;
    }
}


/* Fix to address bug with popups overflowing in the emails module*/

#editAccountDialogue_c{
    height:90% !important;
}

#editAccountDialogue{
    height:90% !important;
    overflow:auto !important;
}

#settingsDialog_c, #settingsDialog{
    width:90% !important;
}

#formEmailSettingsGeneral{
    overflow:scroll;
}

/* Fix to ensure navigation elements are not included in print process */

@media print {
    .navbar-inverse, .sidebar{
        display: none;
    }
}

object{
    pointer-events: none;
}

.favorite{
    width:20px;
    float:left;
    margin-left:5px;
}

.favorite:hover{
    cursor: pointer;
}



/* suggestion box and popup */

#suggestion_box table {
    border: 1px solid #cccccc;
    padding: 0px !important;
    width: 100%;
    max-width: 400px;
    color: #337ab7;
    border-spacing: 0px;
}
#suggestion_box table tr {
    border-bottom: 1px solid #cccccc;
}
#suggestion_box table tr:hover {
    background-color: #dfeffe;
    cursor: pointer;
}
#suggestion_box table tr th {
    padding: 4px!important;
    text-align:left;
    background-color: #f0f0ee;
    color: #333333;
}
#suggestion_box table tr td {
    margin: 0px;
    border: none;
}
#tool-tip-separator {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tool-tip-title {
    margin-bottom: 3px;
    display: inline-block;
}

#use_resolution {
    margin-top: 4px;
    padding: 8px;
}
#additional_info_p {
    margin-bottom: 4px;
}
.transfer {
    border: 2px dotted gray;
}

.qtip-content {
    max-height: 450px;
    overflow-y: auto;
}

.qtip {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    background: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


.qtip-tipped .qtip-titlebar {
    background-color: #3c8dbc;
    padding: 10px 40px 10px 10px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c8dbc),to(#4286AD));
    background-image: -webkit-linear-gradient(top,#3c8dbc,#4286AD);
}

/* suggestion box has to be responsive */

@media (max-width: 640px) {

    #suggestion_box table {
        border: none;
    }

    #suggestion_box table tbody tr {
        display: table-row;
        border: 1px solid #ccc;
        padding: 0;
    }

    #suggestion_box table tbody tr th,
    #suggestion_box table tbody tr td {
        display: table-cell;
        width: auto;
    }

}

/* reminders on meeting and calls */
#reminders .clear {clear:both;}
#reminders .remove-reminder-btn {float: right;}
#reminders #reminder_view {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
}
#reminders #reminder_view .reminder_item {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid lightgray;
}
#reminders #reminder_view .reminder_item .invitees_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    display: block;
}
#reminders #reminder_view .reminder_item .invitees_list .invitees_item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    float: left;
}
#reminders #reminder_view .reminder_item .invitees_list .invitees_item .invitee_btn {
    margin: 4px;
}
#reminders .add-btn {
    background-image: url(../../../../themes/default/images/id-ff-add.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 25px;
}
#reminders .remove-btn {
    background-image: url(../../../../themes/default/images/id-ff-clear.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 25px;
}
#reminders .invitee_btn {
    background-image: url(../../../../themes/default/images/id-ff-clear.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding: 4px 25px 4px 10px;
    border: 1px solid lightgrey;
}
#reminders input[type="checkbox"] {
    margin-right: 5px;
}

/* invalid reminders */
#reminders #reminder_view .reminder_item.reminder-error {
    border: 1px solid red;
    background-color: #fff8f8;
}
#reminders #reminder_view .reminder_item .error-msg {
    font-weight: bold;
    color: red;
}

/* report layout */
#report-editview-footer {width: 70%; float: left;}

#detailpanel_fields_select {float: left; width: 20%; height: 640px; overflow-y: auto; margin-right: 20px;}
.aor_dragbox {height: 250px; overflow: scroll;}
#report-editview-footer .tab-togglers {width: 80%;}
#report-editview-footer .tab-toggler {display: block; float: left;}
#report-editview-footer .tab-toggler.active .button {background-color: #286090;}
#report-editview-footer .parentheses-btn {display: block; width: 100%; min-height: 30px; border: 1px solid lightgray;}
#report-editview-footer .condition-sortable-handle {cursor: move;}
#report-editview-footer .parenthesis-line strong {font-size: 18px}
#report-editview-footer .drop-area.highlighted {background-color: #f7f7f7;}


/*Rgraph charts*/
.noGraphDataPoints
{
    padding:10px;
}
.rgraph_chart_tooltips_css {
    font-family:Arial ! important;
}
/*End of Rgraph charts*/

/* End SuiteCRM Responsive/Bootstrap additional CSS */
/* End Global CSS */