

<script>
    {literal}
    $(document).ready(function(){
	    $("ul.clickMenu").each(function(index, node){
	        $(node).sugarActionMenu();
	    });
    });
    {/literal}
</script>
<div class="clear"></div>
<form action="index.php" method="POST" name="{$form_name}" id="{$form_id}" {$enctype}>
<table width="100%" cellpadding="0" cellspacing="0" border="0" class="dcQuickEdit">
<tr>
<td class="buttons">
<input type="hidden" name="module" value="{$module}">
{if isset($smarty.request.isDuplicate) && $smarty.request.isDuplicate eq "true"}
<input type="hidden" name="record" value="">
<input type="hidden" name="duplicateSave" value="true">
<input type="hidden" name="duplicateId" value="{$fields.id.value}">
{else}
<input type="hidden" name="record" value="{$fields.id.value}">
{/if}
<input type="hidden" name="isDuplicate" value="false">
<input type="hidden" name="action">
<input type="hidden" name="return_module" value="{$smarty.request.return_module}">
<input type="hidden" name="return_action" value="{$smarty.request.return_action}">
<input type="hidden" name="return_id" value="{$smarty.request.return_id}">
<input type="hidden" name="module_tab"> 
<input type="hidden" name="contact_role">
{if (!empty($smarty.request.return_module) || !empty($smarty.request.relate_to)) && !(isset($smarty.request.isDuplicate) && $smarty.request.isDuplicate eq "true")}
<input type="hidden" name="relate_to" value="{if $smarty.request.return_relationship}{$smarty.request.return_relationship}{elseif $smarty.request.relate_to && empty($smarty.request.from_dcmenu)}{$smarty.request.relate_to}{elseif empty($isDCForm) && empty($smarty.request.from_dcmenu)}{$smarty.request.return_module}{/if}">
<input type="hidden" name="relate_id" value="{$smarty.request.return_id}">
{/if}
<input type="hidden" name="offset" value="{$offset}">
{assign var='place' value="_HEADER"} <!-- to be used for id for buttons with custom code in def files-->
<div class="action_buttons">{if $bean->aclAccess("save")}<input title="{$APP.LBL_SAVE_BUTTON_TITLE}"  class="button" onclick="var _form = document.getElementById('form_SubpanelQuickCreate_AOS_Products_Quotes'); disableOnUnloadEditView(); _form.action.value='Save';if(check_form('form_SubpanelQuickCreate_AOS_Products_Quotes'))return SUGAR.subpanelUtils.inlineSave(_form.id, 'AOS_Products_Quotes_subpanel_save_button');return false;" type="submit" name="AOS_Products_Quotes_subpanel_save_button" id="AOS_Products_Quotes_subpanel_save_button" value="{$APP.LBL_SAVE_BUTTON_LABEL}">{/if}  <input title="{$APP.LBL_CANCEL_BUTTON_TITLE}" class="button" onclick="return SUGAR.subpanelUtils.cancelCreate($(this).attr('id'));return false;" type="submit" name="AOS_Products_Quotes_subpanel_cancel_button" id="AOS_Products_Quotes_subpanel_cancel_button" value="{$APP.LBL_CANCEL_BUTTON_LABEL}">  <input title="{$APP.LBL_FULL_FORM_BUTTON_TITLE}" class="button" onclick="var _form = document.getElementById('form_SubpanelQuickCreate_AOS_Products_Quotes'); disableOnUnloadEditView(_form); _form.return_action.value='DetailView'; _form.action.value='EditView'; if(typeof(_form.to_pdf)!='undefined') _form.to_pdf.value='0';" type="submit" name="AOS_Products_Quotes_subpanel_full_form_button" id="AOS_Products_Quotes_subpanel_full_form_button" value="{$APP.LBL_FULL_FORM_BUTTON_LABEL}"> <input type="hidden" name="full_form" value="full_form"> {if $bean->aclAccess("detail")}{if !empty($fields.id.value) && $isAuditEnabled}<input id="btn_view_change_log" title="{$APP.LNK_VIEW_CHANGE_LOG}" class="button" onclick='open_popup("Audit", "600", "400", "&record={$fields.id.value}&module_name=AOS_Products_Quotes", true, false,  {ldelim} "call_back_function":"set_return","form_name":"EditView","field_to_name_array":[] {rdelim} ); return false;' type="button" value="{$APP.LNK_VIEW_CHANGE_LOG}">{/if}{/if}<div class="clear"></div></div>
</td>
<td align='right'>
{$PAGINATION}
</td>
</tr>
</table>{sugar_include include=$includes}
<span id='tabcounterJS'><script>SUGAR.TabFields=new Array();//this will be used to track tabindexes for references</script></span>
<div id="form_SubpanelQuickCreate_AOS_Products_Quotes_tabs"
>
<div >
<div id="detailpanel_1" >
{counter name="panelFieldCount" start=0 print=false assign="panelFieldCount"}
<table width="100%" border="0" cellspacing="1" cellpadding="0"  id='Default_{$module}_Subpanel'  class="yui3-skin-sam edit view panelContainer">
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='dealer_c_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_DEALER' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

<input type="text" name="{$fields.dealer_c.name}" class="sqsEnabled" tabindex="0" id="{$fields.dealer_c.name}" size="" value="{$fields.dealer_c.value}" title='' autocomplete="off"  	 accesskey='7'  >
<input type="hidden" name="{$fields.dealer_c.id_name}" 
id="{$fields.dealer_c.id_name}" 
value="{$fields.vik_dealership_id_c.value}">
<span class="id-ff multiple">
<button type="button" name="btn_{$fields.dealer_c.name}" id="btn_{$fields.dealer_c.name}" tabindex="0" title="{sugar_translate label="LBL_SELECT_BUTTON_TITLE"}" class="button firstChild" value="{sugar_translate label="LBL_SELECT_BUTTON_LABEL"}"
onclick='open_popup(
"{$fields.dealer_c.module}", 
600, 
400, 
"", 
true, 
false, 
{literal}{"call_back_function":"set_return","form_name":"form_SubpanelQuickCreate_AOS_Products_Quotes","field_to_name_array":{"id":"vik_dealership_id_c","name":"dealer_c"}}{/literal}, 
"single", 
true
);' ><img src="{sugar_getimagepath file="id-ff-select.png"}"></button><button type="button" name="btn_clr_{$fields.dealer_c.name}" id="btn_clr_{$fields.dealer_c.name}" tabindex="0" title="{sugar_translate label="LBL_ACCESSKEY_CLEAR_RELATE_TITLE"}"  class="button lastChild"
onclick="SUGAR.clearRelateField(this.form, '{$fields.dealer_c.name}', '{$fields.dealer_c.id_name}');"  value="{sugar_translate label="LBL_ACCESSKEY_CLEAR_RELATE_LABEL"}" ><img src="{sugar_getimagepath file="id-ff-clear.png"}"></button>
</span>
<script type="text/javascript">
SUGAR.util.doWhen(
		"typeof(sqs_objects) != 'undefined' && typeof(sqs_objects['{$form_name}_{$fields.dealer_c.name}']) != 'undefined'",
		enableQS
);
</script>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='name_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_NAME' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
<span class="required">*</span>
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' >
{counter name="panelFieldCount"}

{if empty($fields.name.value)}
{assign var="value" value=$fields.name.default_value }
{else}
{assign var="value" value=$fields.name.value }
{/if}  
<textarea  id='{$fields.name.name}' name='{$fields.name.name}'
rows="4" 
cols="20" 
title='' tabindex="0" 
 >{$value}</textarea>
<td valign="top" id='part_number_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_PART_NUMBER' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' >
{counter name="panelFieldCount"}

{if strlen($fields.part_number.value) <= 0}
{assign var="value" value=$fields.part_number.default_value }
{else}
{assign var="value" value=$fields.part_number.value }
{/if}  
<input type='text' name='{$fields.part_number.name}' 
id='{$fields.part_number.name}' size='30' 
maxlength='255' 
value='{$value}' title=''      >
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='variant_c_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_VARIANT' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

{if strlen($fields.variant_c.value) <= 0}
{assign var="value" value=$fields.variant_c.default_value }
{else}
{assign var="value" value=$fields.variant_c.value }
{/if}  
<input type='text' name='{$fields.variant_c.name}' 
id='{$fields.variant_c.name}' size='30' 
maxlength='255' 
value='{$value}' title=''      >
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='mats_c_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_MATS' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' >
{counter name="panelFieldCount"}

{if strlen($fields.mats_c.value) <= 0}
{assign var="value" value=$fields.mats_c.default_value }
{else}
{assign var="value" value=$fields.mats_c.value }
{/if}  
<input type='text' name='{$fields.mats_c.name}' 
id='{$fields.mats_c.name}' size='30' maxlength='26' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
<td valign="top" id='tint_c_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_TINT' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' >
{counter name="panelFieldCount"}

{if strlen($fields.tint_c.value) <= 0}
{assign var="value" value=$fields.tint_c.default_value }
{else}
{assign var="value" value=$fields.tint_c.value }
{/if}  
<input type='text' name='{$fields.tint_c.name}' 
id='{$fields.tint_c.name}' size='30' maxlength='26' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='towbar_c_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_TOWBAR' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' >
{counter name="panelFieldCount"}

{if strlen($fields.towbar_c.value) <= 0}
{assign var="value" value=$fields.towbar_c.default_value }
{else}
{assign var="value" value=$fields.towbar_c.value }
{/if}  
<input type='text' name='{$fields.towbar_c.name}' 
id='{$fields.towbar_c.name}' size='30' maxlength='26' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
<td valign="top" id='paint_c_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_PAINT' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' >
{counter name="panelFieldCount"}

{if strlen($fields.paint_c.value) <= 0}
{assign var="value" value=$fields.paint_c.default_value }
{else}
{assign var="value" value=$fields.paint_c.value }
{/if}  
<input type='text' name='{$fields.paint_c.name}' 
id='{$fields.paint_c.name}' size='30' maxlength='26' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='product_list_price_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_PRODUCT_LIST_PRICE' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

{if strlen($fields.product_list_price.value) <= 0}
{assign var="value" value=$fields.product_list_price.default_value }
{else}
{assign var="value" value=$fields.product_list_price.value }
{/if}  
<input type='text' name='{$fields.product_list_price.name}' 
id='{$fields.product_list_price.name}' size='30' maxlength='26,6' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='product_unit_price_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_PRODUCT_UNIT_PRICE' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
<span class="required">*</span>
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' >
{counter name="panelFieldCount"}

{if strlen($fields.product_unit_price.value) <= 0}
{assign var="value" value=$fields.product_unit_price.default_value }
{else}
{assign var="value" value=$fields.product_unit_price.value }
{/if}  
<input type='text' name='{$fields.product_unit_price.name}' 
id='{$fields.product_unit_price.name}' size='30' maxlength='26,6' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
<td valign="top" id='product_cost_price_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_PRODUCT_COST_PRICE' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' >
{counter name="panelFieldCount"}

{if strlen($fields.product_cost_price.value) <= 0}
{assign var="value" value=$fields.product_cost_price.default_value }
{else}
{assign var="value" value=$fields.product_cost_price.value }
{/if}  
<input type='text' name='{$fields.product_cost_price.name}' 
id='{$fields.product_cost_price.name}' size='30' maxlength='26,6' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='vat_amt_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_VAT_AMT' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
<span class="required">*</span>
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

{if strlen($fields.vat_amt.value) <= 0}
{assign var="value" value=$fields.vat_amt.default_value }
{else}
{assign var="value" value=$fields.vat_amt.value }
{/if}  
<input type='text' name='{$fields.vat_amt.name}' 
id='{$fields.vat_amt.name}' size='30' maxlength='26,6' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='product_discount_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_PRODUCT_DISCOUNT' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

{if strlen($fields.product_discount.value) <= 0}
{assign var="value" value=$fields.product_discount.default_value }
{else}
{assign var="value" value=$fields.product_discount.value }
{/if}  
<input type='text' name='{$fields.product_discount.name}' 
id='{$fields.product_discount.name}' size='30' maxlength='26,6' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='product_total_price_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_PRODUCT_TOTAL_PRICE' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
<span class="required">*</span>
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

{if strlen($fields.product_total_price.value) <= 0}
{assign var="value" value=$fields.product_total_price.default_value }
{else}
{assign var="value" value=$fields.product_total_price.value }
{/if}  
<input type='text' name='{$fields.product_total_price.name}' 
id='{$fields.product_total_price.name}' size='30' maxlength='26,6' value='{sugar_number_format var=$value}' title='' tabindex='0'
>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='total_c_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_TOTAL' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

{if strlen($fields.total_c.value) <= 0}
{assign var="value" value=$fields.total_c.default_value }
{else}
{assign var="value" value=$fields.total_c.value }
{/if}  
<input type='text' name='{$fields.total_c.name}' 
id='{$fields.total_c.name}' size='30' maxlength='26' value='{sugar_number_format var=$value}' title='Total Price' tabindex='0'
>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='parent_name_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_FLEX_RELATE' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

<select name='parent_type' tabindex="0" id='parent_type' title=''  onchange='document.{$form_name}.{$fields.parent_name.name}.value="";document.{$form_name}.parent_id.value=""; changeParentQS("{$fields.parent_name.name}"); checkParentType(document.{$form_name}.parent_type.value, document.{$form_name}.btn_{$fields.parent_name.name});'>
{html_options options=$fields.parent_name.options selected=$fields.parent_type.value sortoptions=true}
</select>
{if empty($fields.parent_name.options[$fields.parent_type.value])}
{assign var="keepParent" value = 0}
{else}
{assign var="keepParent" value = 1}
{/if}
<input type="text" name="{$fields.parent_name.name}" id="{$fields.parent_name.name}" class="sqsEnabled" tabindex="0"
size="" {if $keepParent}value="{$fields.parent_name.value}"{/if} autocomplete="off"><input type="hidden" name="{$fields.parent_id.name}" id="{$fields.parent_id.name}"  
{if $keepParent}value="{$fields.parent_id.value}"{/if}>
<span class="id-ff multiple">
<button type="button" name="btn_{$fields.parent_name.name}" id="btn_{$fields.parent_name.name}" tabindex="0"	
title="{sugar_translate label="LBL_SELECT_BUTTON_TITLE"}" class="button firstChild" value="{sugar_translate label="LBL_SELECT_BUTTON_LABEL"}"
onclick='open_popup(document.{$form_name}.parent_type.value, 600, 400, "", true, false, {literal}{"call_back_function":"set_return","form_name":"form_SubpanelQuickCreate_AOS_Products_Quotes","field_to_name_array":{"id":"parent_id","name":"parent_name"}}{/literal}, "single", true);' ><img src="{sugar_getimagepath file="id-ff-select.png"}"></button><button type="button" name="btn_clr_{$fields.parent_name.name}" id="btn_clr_{$fields.parent_name.name}" tabindex="0" title="{sugar_translate label="LBL_CLEAR_BUTTON_TITLE"}" class="button lastChild" onclick="this.form.{$fields.parent_name.name}.value = ''; this.form.{$fields.parent_id.name}.value = '';" value="{sugar_translate label="LBL_CLEAR_BUTTON_LABEL"}" ><img src="{sugar_getimagepath file="id-ff-clear.png"}"></button>
</span>
{literal}
<script type="text/javascript">
if (typeof(changeParentQS) == 'undefined'){
function changeParentQS(field) {
    if(typeof sqs_objects == 'undefined') {
       return;
    }
	field = YAHOO.util.Dom.get(field);
    var form = field.form;
    var sqsId = form.id + "_" + field.id;
    var typeField =  form.elements.parent_type;
    var new_module = typeField.value;
    //Update the SQS globals to reflect the new module choice
    if (typeof(QSFieldsArray[sqsId]) != 'undefined')
    {
        QSFieldsArray[sqsId].sqs.modules = new Array(new_module);
    }
	if(typeof QSProcessedFieldsArray != 'undefined')
    {
	   QSProcessedFieldsArray[sqsId] = false;
    }
    if(sqs_objects[sqsId] == undefined){
    	return;
    }
    sqs_objects[sqsId]["modules"] = new Array(new_module);
    if(typeof(disabledModules) != 'undefined' && typeof(disabledModules[new_module]) != 'undefined') {
		sqs_objects[sqsId]["disable"] = true;
		field.readOnly = true;
	} else {
		sqs_objects[sqsId]["disable"] = false;
		field.readOnly = false;
    }
    enableQS(false);
}}
</script>
<script>var disabledModules=[];</script>
<script language="javascript">if(typeof sqs_objects == 'undefined'){var sqs_objects = new Array;}sqs_objects['form_SubpanelQuickCreate_AOS_Products_Quotes_parent_name']={"form":"form_SubpanelQuickCreate_AOS_Products_Quotes","method":"query","modules":["{/literal}{if !empty($fields.parent_type.value)}{$fields.parent_type.value}{else}Accounts{/if}{literal}"],"group":"or","field_list":["name","id"],"populate_list":["parent_name","parent_id"],"required_list":["parent_id"],"conditions":[{"name":"name","op":"like_custom","end":"%","value":""}],"order":"name","limit":"30","no_match_text":"No Match"};</script>
<script>
//change this in case it wasn't the default on editing existing items.
$(document).ready(function(){
	changeParentQS("parent_name")
});
</script>
{/literal}
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
{counter name="fieldsUsed" start=0 print=false assign="fieldsUsed"}
{capture name="tr" assign="tableRow"}
<tr>
<td valign="top" id='description_label' width='12.5%' scope="col">
{capture name="label" assign="label"}{sugar_translate label='LBL_DESCRIPTION' module='AOS_Products_Quotes'}{/capture}
{$label|strip_semicolon}:
</td>
{counter name="fieldsUsed"}

<td valign="top" width='37.5%' colspan='3'>
{counter name="panelFieldCount"}

{if empty($fields.description.value)}
{assign var="value" value=$fields.description.default_value }
{else}
{assign var="value" value=$fields.description.value }
{/if}  
<textarea  id='{$fields.description.name}' name='{$fields.description.name}'
rows="6" 
cols="80" 
title='' tabindex="0" 
 >{$value}</textarea>
</tr>
{/capture}
{if $fieldsUsed > 0 }
{$tableRow}
{/if}
</table>
</div>
{if $panelFieldCount == 0}
<script>document.getElementById("DEFAULT").style.display='none';</script>
{/if}
</div></div>

<script language="javascript">
    var _form_id = '{$form_id}';
    {literal}
    SUGAR.util.doWhen(function(){
        _form_id = (_form_id == '') ? 'EditView' : _form_id;
        return document.getElementById(_form_id) != null;
    }, SUGAR.themes.actionMenu);
    {/literal}
</script>
{assign var='place' value="_FOOTER"} <!-- to be used for id for buttons with custom code in def files-->
<div class="buttons">
<div class="action_buttons">{if $bean->aclAccess("save")}<input title="{$APP.LBL_SAVE_BUTTON_TITLE}"  class="button" onclick="var _form = document.getElementById('form_SubpanelQuickCreate_AOS_Products_Quotes'); disableOnUnloadEditView(); _form.action.value='Save';if(check_form('form_SubpanelQuickCreate_AOS_Products_Quotes'))return SUGAR.subpanelUtils.inlineSave(_form.id, 'AOS_Products_Quotes_subpanel_save_button');return false;" type="submit" name="AOS_Products_Quotes_subpanel_save_button" id="AOS_Products_Quotes_subpanel_save_button" value="{$APP.LBL_SAVE_BUTTON_LABEL}">{/if}  <input title="{$APP.LBL_CANCEL_BUTTON_TITLE}" class="button" onclick="return SUGAR.subpanelUtils.cancelCreate($(this).attr('id'));return false;" type="submit" name="AOS_Products_Quotes_subpanel_cancel_button" id="AOS_Products_Quotes_subpanel_cancel_button" value="{$APP.LBL_CANCEL_BUTTON_LABEL}">  <input title="{$APP.LBL_FULL_FORM_BUTTON_TITLE}" class="button" onclick="var _form = document.getElementById('form_SubpanelQuickCreate_AOS_Products_Quotes'); disableOnUnloadEditView(_form); _form.return_action.value='DetailView'; _form.action.value='EditView'; if(typeof(_form.to_pdf)!='undefined') _form.to_pdf.value='0';" type="submit" name="AOS_Products_Quotes_subpanel_full_form_button" id="AOS_Products_Quotes_subpanel_full_form_button" value="{$APP.LBL_FULL_FORM_BUTTON_LABEL}"> <input type="hidden" name="full_form" value="full_form"> {if $bean->aclAccess("detail")}{if !empty($fields.id.value) && $isAuditEnabled}<input id="btn_view_change_log" title="{$APP.LNK_VIEW_CHANGE_LOG}" class="button" onclick='open_popup("Audit", "600", "400", "&record={$fields.id.value}&module_name=AOS_Products_Quotes", true, false,  {ldelim} "call_back_function":"set_return","form_name":"EditView","field_to_name_array":[] {rdelim} ); return false;' type="button" value="{$APP.LNK_VIEW_CHANGE_LOG}">{/if}{/if}<div class="clear"></div></div>
</div>
</form>
{$set_focus_block}
<script>SUGAR.util.doWhen("document.getElementById('EditView') != null",
        function(){ldelim}SUGAR.util.buildAccessKeyLabels();{rdelim});
</script><script type="text/javascript">
YAHOO.util.Event.onContentReady("form_SubpanelQuickCreate_AOS_Products_Quotes",
    function () {ldelim} initEditView(document.forms.form_SubpanelQuickCreate_AOS_Products_Quotes) {rdelim});
//window.setTimeout(, 100);
window.onbeforeunload = function () {ldelim} return onUnloadEditView(); {rdelim};
// bug 55468 -- IE is too aggressive with onUnload event
if ($.browser.msie) {ldelim}
$(document).ready(function() {ldelim}
    $(".collapseLink,.expandLink").click(function (e) {ldelim} e.preventDefault(); {rdelim});
  {rdelim});
{rdelim}
</script>{literal}
<script type="text/javascript">
addForm('form_SubpanelQuickCreate_AOS_Products_Quotes');addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'name', 'text', true,'{/literal}{sugar_translate label='LBL_NAME' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'date_entered_date', 'date', false,'Date Created' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'date_modified_date', 'date', false,'Date Modified' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'modified_user_id', 'assigned_user_name', false,'{/literal}{sugar_translate label='LBL_MODIFIED' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'modified_by_name', 'relate', false,'{/literal}{sugar_translate label='LBL_MODIFIED_NAME' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'created_by', 'assigned_user_name', false,'{/literal}{sugar_translate label='LBL_CREATED' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'created_by_name', 'relate', false,'{/literal}{sugar_translate label='LBL_CREATED' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'description', 'text', false,'{/literal}{sugar_translate label='LBL_DESCRIPTION' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'deleted', 'bool', false,'{/literal}{sugar_translate label='LBL_DELETED' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'assigned_user_id', 'relate', false,'{/literal}{sugar_translate label='LBL_ASSIGNED_TO_ID' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'assigned_user_name', 'relate', false,'{/literal}{sugar_translate label='LBL_ASSIGNED_TO_NAME' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'currency_id', 'id', false,'{/literal}{sugar_translate label='LBL_CURRENCY' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'part_number', 'varchar', false,'{/literal}{sugar_translate label='LBL_PART_NUMBER' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'item_description', 'text', false,'{/literal}{sugar_translate label='LBL_PRODUCT_DESCRIPTION' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'number', 'int', false,'{/literal}{sugar_translate label='LBL_LIST_NUM' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_qty', 'decimal', false,'{/literal}{sugar_translate label='LBL_PRODUCT_QTY' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_cost_price', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_COST_PRICE' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_cost_price_usdollar', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_COST_PRICE_USDOLLAR' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_list_price', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_LIST_PRICE' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_list_price_usdollar', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_LIST_PRICE_USDOLLAR' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_discount', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_DISCOUNT' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_discount_usdollar', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_DISCOUNT_USDOLLAR' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_discount_amount', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_DISCOUNT_AMOUNT' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_discount_amount_usdollar', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_DISCOUNT_AMOUNT_USDOLLAR' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'discount', 'enum', false,'{/literal}{sugar_translate label='LBL_DISCOUNT' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_unit_price', 'currency', true,'{/literal}{sugar_translate label='LBL_PRODUCT_UNIT_PRICE' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_unit_price_usdollar', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_UNIT_PRICE_USDOLLAR' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'vat_amt', 'currency', true,'{/literal}{sugar_translate label='LBL_VAT_AMT' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'vat_amt_usdollar', 'currency', false,'{/literal}{sugar_translate label='LBL_VAT_AMT_USDOLLAR' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_total_price', 'currency', true,'{/literal}{sugar_translate label='LBL_PRODUCT_TOTAL_PRICE' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_total_price_usdollar', 'currency', false,'{/literal}{sugar_translate label='LBL_PRODUCT_TOTAL_PRICE_USDOLLAR' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'vat', 'enum', false,'{/literal}{sugar_translate label='LBL_VAT' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'parent_name', 'parent', false,'{/literal}{sugar_translate label='LBL_FLEX_RELATE' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'parent_type', 'parent_type', false,'{/literal}{sugar_translate label='LBL_PARENT_TYPE' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'parent_id', 'id', false,'{/literal}{sugar_translate label='LBL_PARENT_ID' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'product_id', 'id', false,'{/literal}{sugar_translate label='' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'group_name', 'relate', false,'{/literal}{sugar_translate label='LBL_GROUP_NAME' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'group_id', 'id', false,'{/literal}{sugar_translate label='' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'paint_c', 'currency', false,'{/literal}{sugar_translate label='LBL_PAINT' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'variant_c', 'varchar', false,'{/literal}{sugar_translate label='LBL_VARIANT' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'vik_dealership_id_c', 'id', false,'{/literal}{sugar_translate label='LBL_DEALER_VIK_DEALERSHIP_ID' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'towbar_c', 'currency', false,'{/literal}{sugar_translate label='LBL_TOWBAR' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'mats_c', 'currency', false,'{/literal}{sugar_translate label='LBL_MATS' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'total_c', 'currency', false,'{/literal}{sugar_translate label='LBL_TOTAL' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'dealer_c', 'relate', false,'{/literal}{sugar_translate label='LBL_DEALER' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidate('form_SubpanelQuickCreate_AOS_Products_Quotes', 'tint_c', 'currency', false,'{/literal}{sugar_translate label='LBL_TINT' module='AOS_Products_Quotes' for_js=true}{literal}' );
addToValidateBinaryDependency('form_SubpanelQuickCreate_AOS_Products_Quotes', 'assigned_user_name', 'alpha', false,'{/literal}{sugar_translate label='ERR_SQS_NO_MATCH_FIELD' module='AOS_Products_Quotes' for_js=true}{literal}: {/literal}{sugar_translate label='LBL_ASSIGNED_TO' module='AOS_Products_Quotes' for_js=true}{literal}', 'assigned_user_id' );
addToValidateBinaryDependency('form_SubpanelQuickCreate_AOS_Products_Quotes', 'dealer_c', 'alpha', false,'{/literal}{sugar_translate label='ERR_SQS_NO_MATCH_FIELD' module='AOS_Products_Quotes' for_js=true}{literal}: {/literal}{sugar_translate label='undefined' module='AOS_Products_Quotes' for_js=true}{literal}', 'vik_dealership_id_c' );
</script><script language="javascript">if(typeof sqs_objects == 'undefined'){var sqs_objects = new Array;}sqs_objects['form_SubpanelQuickCreate_AOS_Products_Quotes_dealer_c']={"form":"form_SubpanelQuickCreate_AOS_Products_Quotes","method":"query","modules":["vik_Dealership"],"group":"or","field_list":["name","id"],"populate_list":["dealer_c","vik_dealership_id_c"],"required_list":["parent_id"],"conditions":[{"name":"name","op":"like_custom","end":"%","value":""}],"order":"name","limit":"30","no_match_text":"No Match"};sqs_objects['form_SubpanelQuickCreate_AOS_Products_Quotes_parent_name']={"form":"form_SubpanelQuickCreate_AOS_Products_Quotes","method":"query","modules":["Accounts"],"group":"or","field_list":["name","id"],"populate_list":["parent_name","parent_id"],"required_list":["parent_id"],"conditions":[{"name":"name","op":"like_custom","end":"%","value":""}],"order":"name","limit":"30","no_match_text":"No Match"};</script>{/literal}
